<!-- Header Section Starts -->
<header id="header-area" ng-controller="NavBarController">
    <!-- Header Top Starts -->
    <div class="header-top">
        <div class="container">
            <div class="row">
                <!-- Header Links Starts -->
                <div class="col-sm-8 col-xs-12">
                    <div class="header-links">
                        <ul class="nav navbar-nav pull-left">
                            <li>
                                <a href="#/index.html">

                                    <i class="fa fa-home hidden-lg hidden-md" title="Home"></i>

                                    <span class="hidden-sm hidden-xs">

											Home

										</span>

                                </a>
                            </li>
                            <li ng-show="Loggedin">
                                <a href="#/wishlist">

                                    <i class="fa fa-heart hidden-lg hidden-md" title="Wish List"></i>

                                    <span class="hidden-sm hidden-xs">

											Wish List(0)

										</span>

                                </a>
                            </li>
                            <li ng-show="Loggedin">
                                <a href="#/account-orders">

                                    <i class="fa fa-user hidden-lg hidden-md" title="My Account"></i>

                                    <span class="hidden-sm hidden-xs">

											My Account

										</span>

                                </a>
                            </li>
                            <li ng-show="Loggedin">
                                <a href="#/cart.html">

                                    <i class="fa fa-shopping-cart hidden-lg hidden-md" title="Shopping Cart"></i>

                                    <span class="hidden-sm hidden-xs">

											Shopping Cart

										</span>

                                </a>
                            </li>
                            <li ng-show="Loggedin">
                                <a href="#/checkout">

                                    <i class="fa fa-crosshairs hidden-lg hidden-md" title="Checkout"></i>

                                    <span class="hidden-sm hidden-xs">

											Checkout

										</span>

                                </a>
                            </li>
                            <li>
                                <a href="#/register.html">

                                    <i class="fa fa-unlock hidden-lg hidden-md" title="Register"></i>

                                    <span class="hidden-sm hidden-xs">

											Register

										</span>

                                </a>
                            </li>
                            <li>
                                <a href="#/login.html">

                                    <i class="fa fa-lock hidden-lg hidden-md" title="Login"></i>

                                    <span class="hidden-sm hidden-xs">

											Login

										</span>

                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Header Links Ends -->
            </div>
        </div>
    </div>
    <!-- Header Top Ends -->
    <!-- Main Header Starts -->
    <div class="main-header">
        <div class="container">
            <div class="row">
                <!-- Search Starts -->
                <div class="col-md-3">
                    <div id="search">
                        <div class="input-group">
                            <input type="text" class="form-control input-lg" placeholder="Search">
                            <span class="input-group-btn">
                    <button class="btn btn-lg" type="button" ng-click="redirect()">
                      <i class="fa fa-search"></i>
                    </button>
                  </span>
                        </div>
                    </div>
                </div>
                <!-- Search Ends -->
                <!-- Logo Starts -->
                <div class="col-md-6">
                    <div id="logo">
                        <a href="#/index.html"><img src="images/logo.png" title="Spice Shoppe" alt="Spice Shoppe" class="img-responsive"></a>
                    </div>
                </div>
                <!-- Logo Starts -->
                <!-- Shopping Cart Starts -->
                <div class="col-md-3">
                    <div id="cart" class="btn-group btn-block">
                        <button type="button" data-toggle="dropdown" class="btn btn-block btn-lg dropdown-toggle">
                            <i class="fa fa-shopping-cart"></i>
                            <span class="hidden-md">Cart:</span>
                            <span id="cart-total">2 item(s) - $340.00</span>
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <ul class="dropdown-menu pull-right">
                            <li>
                                <table class="table hcart">
                                    <tbody>
                                    <tr>
                                        <td class="text-center">
                                            <a href="#/product.html">

                                                <img src="images/product-images/hcart-thumb1.jpg" alt="image" title="image" class="img-thumbnail img-responsive">

                                            </a>
                                        </td>
                                        <td class="text-left">
                                            <a href="#/product-full.html">

                                                Seeds

                                            </a>
                                        </td>
                                        <td class="text-right">x 1</td>
                                        <td class="text-right">$120.68</td>
                                        <td class="text-center">
                                            <a href="#">

                                                <i class="fa fa-times"></i>

                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">
                                            <a href="#/product.html">

                                                <img src="images/product-images/hcart-thumb2.jpg" alt="image" title="image" class="img-thumbnail img-responsive">

                                            </a>
                                        </td>
                                        <td class="text-left">
                                            <a href="#/product-full.html">

                                                Organic

                                            </a>
                                        </td>
                                        <td class="text-right">x 2</td>
                                        <td class="text-right">$240.00</td>
                                        <td class="text-center">
                                            <a href="#">

                                                <i class="fa fa-times"></i>

                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </li>
                            <li>
                                <table class="table table-bordered total">
                                    <tbody>
                                    <tr>
                                        <td class="text-right">
                                            <strong>Sub-Total</strong>
                                        </td>
                                        <td class="text-left">$1,101.00</td>
                                    </tr>
                                    <tr>
                                        <td class="text-right">
                                            <strong>Eco Tax (-2.00)</strong>
                                        </td>
                                        <td class="text-left">$4.00</td>
                                    </tr>
                                    <tr>
                                        <td class="text-right">
                                            <strong>VAT (17.5%)</strong>
                                        </td>
                                        <td class="text-left">$192.68</td>
                                    </tr>
                                    <tr>
                                        <td class="text-right">
                                            <strong>Total</strong>
                                        </td>
                                        <td class="text-left">$1,297.68</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <p class="text-right btn-block1">
                                    <a href="#/cart.html">

                                        View Cart

                                    </a>
                                    <a href="#">

                                        Checkout

                                    </a>
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Shopping Cart Ends -->
            </div>
        </div>
    </div>
    <!-- Main Header Ends -->
    <!-- Main Menu Starts -->
    <nav id="main-menu" class="navbar" role="navigation">
        <div class="container">
            <!-- Nav Header Starts -->
            <div class="navbar-header">
                <button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-cat-collapse">
                    <span class="sr-only">Toggle Navigation</span>
                    <i class="fa fa-bars"></i>
                </button>
            </div>
            <!-- Nav Header Ends -->
            <!-- Navbar Cat collapse Starts -->
            <div class="collapse navbar-collapse navbar-cat-collapse">
                <ul class="nav navbar-nav" ng-repeat="option in navbarOptions">
                    <li class="dropdown">
                        <!-- class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="10" -->
                        <a ng-href="#/platform-home/{{option.PlatformId}}">{{option.platform}}</a>
                        <div class="dropdown-menu">
                            <div class="dropdown-inner">
                                <ul class="list-unstyled">
                                    <li class="dropdown-header">Platform</li>
                                    <li>
                                        <a href="/index.html">
                                            <img ng-src="{{option.imglogo}}" style="with: 150px;height: 150px;">
                                        </a>
                                    </li>
                                </ul>
                                <ul class="list-unstyled">
                                    <li class="dropdown-header">Consoles</li>
                                    <li ng-repeat="console in option.consoles">
                                        <a tabindex="-1" href="#{{console.id}}">{{console.name}}</a>
                                    </li>
                                </ul>
                                <ul class="list-unstyled">
                                    <li class="dropdown-header">Accesories</li>
                                    <li ng-repeat="c in option.accesories track by $index">
                                        <a tabindex="-1" href="#{{c}}">{{c}}</a>
                                    </li>
                                </ul>
                                <ul class="list-unstyled">
                                    <li class="dropdown-header">Games</li>
                                    <li ng-repeat="c in option.gamegen track by $index">
                                        <a tabindex="-1" href="#{{c}}">{{c}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- Navbar Cat collapse Ends -->
        </div>
    </nav>
    <!-- Main Menu Ends -->
</header>
<!-- Header Section Ends -->