<!-- Main Container Starts -->
	<div id="main-container" class="container">
		<div class="text-center">
		<!-- Primary Content Starts -->
			<div class="">
			<!-- Breadcrumb Starts -->
				<ol class="breadcrumb">
					<li><a href="#/index.html">Home</a></li>
					<li class="active">About Us</li>
				</ol>
			<!-- Breadcrumb Ends -->
				<hr />
			<!-- Testimonials Starts -->
				<h2 class="sub-heading text-center">
					Development Team
				</h2>
			<!-- Testimonial #1 Starts -->
				<div class="media panel-smart">
					<img src="https://avatars2.githubusercontent.com/u/5651275?v=3&s=460" width="325" height="315" alt="image" class="img-responsive pull-left" />
					<div class="media-body">
						<blockquote>
							<p>
								" Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. "
							</p>
							<footer>
								<a href="https://github.com/jesmarieHernandez">Jesmarie, <cite>Developer</cite></a>
							</footer>
						</blockquote>
					</div>
				</div>
			<!-- Testimonial #1 Ends -->
			<!-- Testimonial #2 Starts -->
				<div class="media panel-smart">
					<img src="https://avatars1.githubusercontent.com/u/5660253?v=3&s=460" width="325" height="315" alt="image" class="img-responsive pull-left" />
					<div class="media-body">
						<blockquote>
							<p>
								" Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. "
							</p>
							<footer>
								<a href="https://github.com/HeribertoBourdon">Heriberto, <cite>Developer</cite></a>
							</footer>
						</blockquote>
					</div>
				</div>
			<!-- Testimonial #2 Ends -->
			<!-- Testimonial #3 Starts -->
				<div class="media panel-smart">
					<img src="https://avatars1.githubusercontent.com/u/11929857?v=3&s=460" width="325" height="315" alt="image" class="img-responsive pull-left" />
					<div class="media-body">
						<blockquote>
							<p>
								" Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. "
							</p>
							<footer>
								<a href="https://github.com/abi90">Abisai Ramos, <cite>Developer</cite></a>
							</footer>
						</blockquote>
					</div>
				</div>
			<!-- Testimonial #3 Ends -->
			<!-- Testimonials Ends -->
			</div>
		<!-- Primary Content Ends -->
		</div>
	</div>
<!-- Main Container Ends -->