<!-- Main Container Starts -->
<div id="main-container" class="container">
    <div class="row">
        <!-- Sidebar Starts -->
        <div class="col-md-3">
            <!-- Categories Links Starts -->
            <h3 class="side-heading">My account</h3>
            <div class="list-group categories">
                <a href="category-grid.html" class="list-group-item">

                    <i class="fa fa-chevron-right"></i>

                    Orders

                </a>
                <a href="category-grid.html" class="list-group-item">

                    <i class="fa fa-chevron-right"></i>

                    Account Information

                </a>
                <a href="category-grid.html" class="list-group-item">

                    <i class="fa fa-chevron-right"></i>

                    Address

                </a>
                <a href="category-grid.html" class="list-group-item">

                    <i class="fa fa-chevron-right"></i>

                    Payment Method

                </a>
            </div>
            <!-- Categories Links Ends -->
            <!-- Shopping Options Starts -->
            <!-- Shopping Options Ends -->
            <!-- Bestsellers Links Starts -->
            <!-- Bestsellers Links Ends -->
        </div>
        <!-- Sidebar Ends -->
        <!-- Primary Content Starts -->
        <div class="col-md-9">
            <!-- Breadcrumb Starts -->
            <ol class="breadcrumb">
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li class="active">{USER_NAME}</li>
                <li class="active">Orders</li>
            </ol>
            <!-- Breadcrumb Ends -->
            <!-- Main Heading Starts -->
            <h2 class="main-heading2">Orders</h2>
            <!-- Main Heading Ends -->
            <!-- Category Intro Content Starts -->
            <div class="table-responsive shopping-cart-table">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <td class="text-center">Order Number</td>
                        <td class="text-center">Order Date</td>
                        <td class="text-center">Status</td>
                        <td class="text-center">Total</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="text-center">
                            <a href="product-full.html">A12345F</a>
                        </td>
                        <td class="text-center">12/09/2015</td>
                        <td class="text-center">Shipped</td>
                        <td class="text-center">$150.00</td>
                    </tr>
                    <tr>
                        <td class="text-center">
                            <a href="product-full.html">BC1234F</a>
                        </td>
                        <td class="text-center">15/09/2015</td>
                        <td class="text-center">In transit</td>
                        <td class="text-center">$150.00</td>
                    </tr>
                    </tbody>
                    <tfoot></tfoot>
                </table>
            </div>
            <!-- Category Intro Content Ends -->
            <!-- Product Filter Starts -->
            <!-- Product Filter Ends -->
            <!-- Product List Display Starts -->
            <!-- Product List Display Ends -->
            <!-- Pagination & Results Starts -->
            <!-- Pagination & Results Ends -->
        </div>
        <!-- Primary Content Ends -->
    </div>
</div>
<!-- Main Container Ends -->