 <!-- Main Container Starts -->
    <div id="main-container" class="container">
      <div class="row">
        <!-- Sidebar Starts -->
        <div class="col-md-3">
          <!-- Categories Links Starts -->
          <h3 class="side-heading">My account</h3>
          <div class="list-group categories">
            <a href="#/account-orders.html" class="list-group-item">

						<i class="fa fa-chevron-right"></i>

						Orders

					</a>
            <a href="#/account-info.html" class="list-group-item">

						<i class="fa fa-chevron-right"></i>

						Account Information

					</a>
            <a href="#/account-address.html" class="list-group-item">

						<i class="fa fa-chevron-right"></i>

						Address

					</a>
            <a href="#/account-payment.html" class="list-group-item">

						<i class="fa fa-chevron-right"></i>

						Payment Method

					</a>
          </div>
          <!-- Categories Links Ends -->
          <!-- Shopping Options Starts -->
          <!-- Shopping Options Ends -->
          <!-- Bestsellers Links Starts -->
          <!-- Bestsellers Links Ends -->
        </div>
        <!-- Sidebar Ends -->
        <!-- Primary Content Starts -->
        <div class="col-md-9">
          <!-- Breadcrumb Starts -->
          <ol class="breadcrumb">
            <li>
              <a href="index.html">Home</a>
            </li>
            <li class="active">{{auth.uname}}</li>
            <li class="active">Orders</li>
            <li class="active">Order Details</li>
          </ol>

          <!--Order Review Panel Starts -->
          <div class="panel panel-smart">
            <div class="panel-heading">
              <h3 class="panel-title">Order Details</h3>
            </div>
            <!--Order Overwien Starts -->
            <div class="panel-body">
              </br>
              <span class="pull-left"><b>Order Number: </b> {{userOrder.oid}}</span>
              <span class="pull-right"><b>Order Status: </b> {{userOrder.ostatus}}</span>
              </br></br>
              <table class="table table-striped">
                <thead>
                <th>Produtcs</th>
                <th>Quantity</th>
                <th>Price</th>
                </thead>
                <tbody>

                <tr ng-repeat="product in userOrder.oproducts">
                  <td class="text-left">
                    <a ng-href="product.html/{{product.pid}}">{{product.pname}}</a>
                  </td>

                  <td class="text-left">
                    {{product.pquantity}}
                  </td>

                  <td class="text-left">
                    {{product.pprice}}
                  </td>
                </tr>

                </tbody>
                <tfoot>

                <tr>
                  <td colspan="2" class="text-right">
                    Subtotal:
                  </td>

                  <td colspan="2" class="text-left">
                    {{userOrder.osubtotal}}
                  </td>
                </tr>

                <tr>
                  <td colspan="2" class="text-right">
                    <strong>Total :</strong>
                  </td>

                  <td colspan="2" class="text-left">
                    {{userOrder.ototal}}
                  </td>
                </tr>

                </tfoot>
              </table>
             <!-- Order Overview Ends -->
            </div>
          </div>
          <!--Order Review Panel Ends -->
          </div>
        <!-- Primary Content Ends -->
      <div class="col-md-3">
      <div class="panel panel-smart">
        <div class="panel-heading">
          <h3 class="panel-title">
            Shipping Information
          </h3>
        </div>
        <div class="panel-body">
          <p>
            Gary Oak<br>
            Pallet Town 3245, Route 1<br>
            Kanto Region, 09901<br>
          </p>
        </div>
      </div>
      </div>

      <div class="col-md-3">
        <div class="panel panel-smart">
          <div class="panel-heading">
            <h3 class="panel-title">
              Billing Information
            </h3>
          </div>
          <div class="panel-body">
            <p>
              Gary Oak<br>
              Pallet Town 3245, Route 1<br>
              Kanto Region, 09901<br>
            </p>
          </div>
        </div>
        </div>

        <div class="col-md-3">
          <div class="panel panel-smart">
            <div class="panel-heading">
              <h3 class="panel-title">
                Payment Method
              </h3>
            </div>
            <div class="panel-body">
              <p>
                <label>
                <img src="images/payment-icon/cirrus.png" alt="PaymentGateway" />
                </label> **** 1234
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="panel panel-smart">
            <div class="panel-heading">
              <h3 class="panel-title">
                Total
              </h3>
            </div>
            <div class="panel-body">
              <p>
              <dt>Subtotal :</dt>
              <dd>$314.99</dd>
              <dt>Shipment Fee :</dt>
              <dd>$12.99</dd>
              <dt>Tax Total :</dt>
              <dd>$354.08</dd>
              </dl>
              <hr />
              <dl class="dl-horizontal total">
                <dt>Total :</dt>
                <dd>$365.70</dd>
              </dl>
              <hr />
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>
    <!-- Main Container Ends -->