<!-- Main Container Starts -->
<div id="main-container" class="container">
    <div class="row">
        <!-- Sidebar Starts -->
        <div class="col-md-3">
            <!-- Categories Links Starts -->
            <my-account-nav info=""></my-account-nav>
            <!-- Categories Links Ends -->
        </div>
        <!-- Sidebar Ends -->
        <!-- Primary Content Starts -->
        <div class="col-md-9">
            <!-- Breadcrumb Starts -->
            <ol class="breadcrumb">
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li class="active">{{userData.uname}}<</li>
                <li class="active">Shipping and Billing Address</li>
            </ol>
            <!-- Breadcrumb Ends -->
            <!-- Main Heading Starts -->
            <!-- Main Heading Ends -->
            <!-- Registration Block Starts -->
            <div class="panel panel-smart" ng-repeat="address in userAddress">
                <div class="panel-heading">
                    <h3 class="panel-title">{{address.atype | uppercase}} ADDRESS</h3>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form">
                        <!-- Personal Information Starts -->
                        <!-- Personal Information Ends -->
                        <!-- Delivery Information Starts -->
                        <div class="form-group"">
                            <label for="fullName" class="col-sm-3 control-label">Full Name :</label>
                            <div class="col-sm-3">
                                <label class="control-label" id="inputCompany" placeholder="Full Name">{{address.afullname}}</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputAddress1" class="col-sm-3 control-label">Address/1 :</label>
                            <div class="col-sm-3">
                                <label class="control-label" id="inputCompany" placeholder="Full Name">{{address.aaddress1}}</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputAddress2" class="col-sm-3 control-label">Address/2 :</label>
                            <div class="col-sm-3">
                                <label class="control-label" id="inputCompany" placeholder="Full Name">{{address.address2}}</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputCity" class="col-sm-3 control-label">City :</label>
                            <div class="col-sm-3">
                                <label class="control-label" id="inputCompany" placeholder="Full Name">{{address.acity}}</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPostCode" class="col-sm-3 control-label">Zip :</label>
                            <div class="col-sm-3">
                                <label class="control-label" id="inputCompany" placeholder="Full Name">{{address.azip}}</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputCountry" class="col-sm-3 control-label">Country :</label>
                            <div class="col-sm-3">
                                <label class="control-label" id="inputCompany" placeholder="Full Name">{{address.acountry}}</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputRegion" class="col-sm-3 control-label">State :</label>
                            <div class="col-sm-3">
                                <label class="control-label" id="inputCompany" placeholder="Full Name">{{address.aState}}</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <button type="submit" class="btn btn-black">EDIT {{address.atype | uppercase}} ADDRESS</button>
                            </div>
                        </div>
                        <!-- Delivery Information Ends -->

                        <!-- Delivery Information Ends -->
                    </form>
                    <!-- Registration Form Starts -->
                </div>
            </div>
            <!-- Registration Block Ends -->
        </div>
        <!-- Primary Content Ends -->
    </div>
</div>
<!-- Main Container Ends -->