 <!-- Main Container Starts -->
    <div id="main-container" class="container">
      <div class="row">
        <!-- Sidebar Starts -->
        <div class="col-md-3">
          <!-- Categories Links Starts -->
          <my-account-nav info=""></my-account-nav>
          <!-- Categories Links Ends -->
        </div>
        <!-- Sidebar Ends -->
        <!-- Primary Content Starts -->
        <div class="col-md-9">
          <!-- Breadcrumb Starts -->
          <ol class="breadcrumb">
            <li>
              <a href="index.html">Home</a>
            </li>
            <li class="active">{{auth.uname}}</li>
            <li class="active">Orders</li>
            <li class="active">Order Details</li>
          </ol>

          <!--Order Review Panel Starts -->
          <div class="panel panel-smart">
            <div class="panel-heading">
              <h3 class="panel-title">Order Details</h3>
            </div>
            <!--Order Overwien Starts -->
            <div class="panel-body">
              </br>
              <span class="pull-left"><b>Order Number: </b> {{userOrder.oid}}</span>
              <span class="pull-right"><b>Order Status: </b> {{userOrder.ostatus}}</span>
              </br></br>
              <table class="table table-striped">
                <thead>
                <th class="text-left">Produtcs</th>
                <th class="text-left">Quantity</th>
                <th class="text-left">Price</th>
                <th class="text-left">Total</th>
                </thead>
                <tbody>

                <tr ng-repeat="product in userOrder.oproducts">
                  <td class="text-left">
                    <a ng-href="#/product.html/{{product.pid}}">{{product.pname}}</a>
                  </td>

                  <td class="text-left">
                    {{product.pquantity}}
                  </td>

                  <td class="text-left">
                    {{product.pprice | currency}}
                  </td>
                  <td class="text-left">
                    {{product.pprice * product.pquantity | currency}}
                  </td>
                </tr>

                </tbody>
                <tfoot>

                <tr>
                  <td colspan="3" class="text-right">
                    Subtotal:
                  </td>

                  <td colspan="3" class="text-left">
                    {{userOrder.osubtotal | currency}}
                  </td>
                </tr>

                <tr>
                  <td colspan="3" class="text-right">
                    Shipment Fee:
                  </td>

                  <td colspan="3" class="text-left">
                    {{userOrder.oshipmment_fee | currency}}
                  </td>
                </tr>

                <tr>
                  <td colspan="3" class="text-right">
                    <strong>Total :</strong>
                  </td>

                  <td colspan="3" class="text-left">
                    {{userOrder.ototal | currency}}
                  </td>
                </tr>

                </tfoot>
              </table>
             <!-- Order Overview Ends -->
            </div>
          </div>
          <!--Order Review Panel Ends -->
          </div>
        <!-- Primary Content Ends -->
      <div class="col-md-3">
      <div class="panel panel-smart">
        <div class="panel-heading">
          <h3 class="panel-title">
            Shipping Information
          </h3>
        </div>
        <div class="panel-body">
          <p>
            {{userOrder.shipping_address.afullname}}
            <br>{{userOrder.shipping_address.aaddress1}}
            <br ng-if="userOrder.shipping_address.aaddress2.length > 0">{{userOrder.shipping_address.aaddress2}}
            <br>{{userOrder.shipping_address.acity}} {{userOrder.shipping_address.astate}}, {{userOrder.shipping_address.azip}}
            <br>{{userOrder.shipping_address.acountry}}
          </p>
        </div>
      </div>
      </div>

      <div class="col-md-3">
        <div class="panel panel-smart">
          <div class="panel-heading">
            <h3 class="panel-title">
              Billing Information
            </h3>
          </div>
          <div class="panel-body">
            <p>
              {{userOrder.billing_address.afullname}}
              <br>{{userOrder.billing_address.aaddress1}}
              <br ng-if="userOrder.billing_address.aaddress2.length > 0">{{userOrder.billing_address.aaddress2}}
              <br>{{userOrder.billing_address.acity}} {{userOrder.billing_address.astate}}, {{userOrder.billing_address.azip}}
              <br>{{userOrder.billing_address.acountry}}
            </p>
          </div>
        </div>
        </div>

        <div class="col-md-3">
          <div class="panel panel-smart">
            <div class="panel-heading">
              <h3 class="panel-title">
                Payment Method
              </h3>
            </div>
            <div class="panel-body">
              <p>
                <label>
                  <img ng-if="userOrder.payment_method.ctype=='Visa'" src="images/payment-icon/visa.png" alt="PaymentGateway">
                  <img ng-if="userOrder.payment_method.ctype=='Master Card'" src="images/payment-icon/mastercard.png" alt="PaymentGateway">
                  <img ng-if="userOrder.payment_method.ctype=='American Express'" src="images/payment-icon/americanexpress.png" alt="PaymentGateway">
                </label> **** {{userOrder.payment_method.cnumber}}
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="panel panel-smart">
            <div class="panel-heading">
              <h3 class="panel-title">
                Total
              </h3>
            </div>
            <div class="panel-body">
              <dl>
                <dt>Subtotal :</dt>
                <dd>{{userOrder.osubtotal | currency}}</dd>
                <dt>Shipment Fee :</dt>
                <dd>{{userOrder.oshipmment_fee | currency}}</dd>
              </dl>
              <hr />
                <dl class="total">
                  <dt>Total :</dt>
                  <dd>{{userOrder.ototal | currency}}</dd>
                </dl>
              <hr />
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>
    <!-- Main Container Ends -->