<!-- Main Container Starts -->
<div id="main-container" class="container">
    <div class="row">
        <!-- Sidebar Starts -->
        <div class="col-md-3">
            <!-- Categories Links Starts -->
            <h3 class="side-heading">My account</h3>
            <div class="list-group categories">
                <a href="category-grid.html" class="list-group-item">

                    <i class="fa fa-chevron-right"></i>

                    Orders

                </a>
                <a href="category-grid.html" class="list-group-item">

                    <i class="fa fa-chevron-right"></i>

                    Account Information

                </a>
                <a href="category-grid.html" class="list-group-item">

                    <i class="fa fa-chevron-right"></i>

                    Address

                </a>
                <a href="category-grid.html" class="list-group-item">

                    <i class="fa fa-chevron-right"></i>

                    Payment Method

                </a>
            </div>
            <!-- Categories Links Ends -->
            <!-- Shopping Options Starts -->
            <!-- Shopping Options Ends -->
            <!-- Bestsellers Links Starts -->
            <!-- Bestsellers Links Ends -->
        </div>
        <!-- Sidebar Ends -->
        <!-- Primary Content Starts -->
        <div class="col-md-9">
            <!-- Breadcrumb Starts -->
            <ol class="breadcrumb">
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li class="active">{USER_NAME}</li>
                <li class="active">Account and Personal Information</li>
            </ol>
            <div class="panel panel-smart">
                <div class="panel-heading">
                    <h3 class="panel-title">Personal Information</h3>
                </div>
                <div class="panel-body">
                    <!-- Registration Form Starts -->
                    <form class="form-horizontal" role="form">
                        <!-- Personal Information Starts -->
                        <div class="form-group">
                            <label for="inputFname" class="col-sm-3 control-label">First Name :</label>
                            <div class="col-sm-9">
                                <label class="control-label" id="inputCompany" placeholder="Full Name">Gary</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputLname" class="col-sm-3 control-label">Last Name :</label>
                            <div class="col-sm-9">
                                <label class="control-label" id="inputCompany" placeholder="Full Name">Oak</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail" class="col-sm-3 control-label">Email :</label>
                            <div class="col-sm-9">
                                <label class="control-label" id="inputCompany" placeholder="Full Name">gary.oak@upr.edu</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPhone" class="col-sm-3 control-label">Phone :</label>
                            <div class="col-sm-9">
                                <label class="control-label" id="inputCompany" placeholder="Full Name">787-887-8787</label>
                            </div>
                        </div>
                        <h3 class="panel-heading inner">Account Information</h3>
                        <!-- Password Area Starts -->
                        <div class="form-group">
                            <label for="inputFax" class="col-sm-3 control-label">Username:</label>
                            <div class="col-sm-9">
                                <label class="control-label" id="inputCompany" placeholder="Full Name">GOak</label>
                            </div>
                        </div>
                        <div class="form-group"></div>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <button type="submit" class="btn btn-black">EDIT ACCOUNT INFO</button>
                                <button type="submit" class="btn btn-black">CHANGE PASSWORD</button>
                            </div>
                        </div>
                        <!-- Password Area Ends -->
                    </form>
                    <!-- Registration Form Starts -->
                </div>
            </div>
        </div>
        <!-- Primary Content Ends -->
    </div>
</div>
<!-- Main Container Ends -->