<!-- Main Container Starts -->
<div id="main-container" class="container">
    <div class="row">
        <!-- Sidebar Starts -->
        <div class="col-md-3">
            <my-account-nav info=""></my-account-nav>
        </div>
        <!-- Sidebar Ends -->
        <!-- Primary Content Starts -->
        <div class="col-md-9">
            <!-- Breadcrumb Starts -->
            <ol class="breadcrumb">
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li class="active">{{userData.uname}}</li>
                <li class="active">Account and Personal Information</li>
            </ol>
            <div class="panel panel-smart">
                <div class="panel-heading">
                    <h3 class="panel-title">Personal Information</h3>
                </div>
                <div class="panel-body">
                    <!-- Registration Form Starts -->
                    <form class="form-horizontal personal-info" role="form">
                        <!-- Personal Information Starts -->
                        <div class="form-group">
                            <p class="col-md-offset-5 col-sm-12">
                                <strong>First Name :</strong>
                                <br> {{userData.ufirstname}}
                            </p>
                        </div>
                        <div class="form-group">
                            <p class="col-md-offset-5 col-sm-12">
                                <strong>Last Name :</strong>
                                <br> {{userData.ulastname}}
                            </p>
                        </div>
                        <div class="form-group">
                            <p class="col-md-offset-5 col-sm-12">
                                <strong>Date of Birth :</strong>
                                <br> {{userData.udob | date}}
                            </p>
                        </div>
                        <div class="form-group">
                            <p class="col-md-offset-5 col-sm-12">
                                <strong>Email : </strong>
                                <br> {{userData.uemail}}
                            </p>
                        </div>
                        <div class="form-group">
                            <p class="col-md-offset-5 col-sm-12">
                                <strong>Phone : </strong>
                                <br> {{userData.uphone}}
                            </p>
                        </div>
                        <div class="panel-heading inner">
                            <h3 class="panel-title">Account Information</h3>
                        </div>
                        <!-- Password Area Starts -->
                        <div class="form-group">
                            <p class="col-md-offset-5 col-sm-12">
                                <strong>Username : </strong>
                                <br> {{userData.uname}}
                            </p>
                        </div>
                        <div class="form-group"></div>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <button type="submit" class="btn btn-black" ng-click="shoEditPersonalInfoModal()">EDIT ACCOUNT INFO</button>
                                <button type="submit" class="btn btn-black" ng-click="shoChangePassModal()">CHANGE PASSWORD</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="">
                                <div uib-alert ng-repeat="m in messages track by $index" class="alert-success" close="closeMessageAlert($index)">{{m}}
                                </div>
                            </div>
                            <div class="">
                                <div uib-alert ng-repeat="m in errors track by $index" class="alert-danger" close="closeErrorAlert($index)">{{m}}
                                </div>
                            </div>
                        </div>
                        <!-- Password Area Ends -->
                    </form>
                    <!-- Registration Form Starts -->
                </div>
            </div>
        </div>
        <!-- Primary Content Ends -->
    </div>
</div>
<!-- Main Container Ends -->