<!-- Main Container Starts -->
<div id="main-container" class="container">
    <div class="row">
        <!-- Sidebar Starts -->
        <div class="col-md-3">
            <!-- Categories Links Starts -->
            <my-account-nav info=""></my-account-nav>
            <!-- Categories Links Ends -->
        </div>
        <!-- Sidebar Ends -->
        <!-- Primary Content Starts -->
        <div class="col-md-9">
            <!-- Breadcrumb Starts -->
            <ol class="breadcrumb">
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li class="active">{{userData.uname}}</li>
                <li class="active">Shipping and Billing Address</li>
            </ol>
            <!-- Breadcrumb Ends -->
            <!-- Shipping Address Block Starts -->
            <div class="panel panel-smart">
                <div class="panel-heading">
                    <h3 class="panel-title">SHIPPING ADDRESS</h3>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form" >
                        <!-- Delivery Information Starts -->
                        <div class="form-group grid" >
                            <div class="col-md-4 col-sm-6 col-xs-12" ng-repeat="address in userShippingAddress">
                                <p> <strong>{{address.afullname}}</strong>
                                    <br>{{address.aaddress1}}
                                    <br ng-if="address.aaddress2.length < 0">{{address.aaddress2}}
                                    <br>{{address.acity}}, {{address.astate}} {{address.azip}}
                                    <br>{{address.acountry}}<br>
                                    <strong ng-if="address.apreferred == true">[ * Preferred * ]</strong>
                                    <br ng-if="address.apreferred == false">
                                </p>
                                <div class="grid">
                                    <div class="row">
                                        <div class="col-md-3 col-sm-2 col-xs-2">
                                            <button type="submit" class="btn btn-black" ng-click="shoEditShpAddModal(address)">EDIT</button>
                                        </div>
                                        <div class="col-md-3 col-sm-2 col-xs-2">
                                            <button type="submit" class="btn btn-black">DELETE</button>
                                        </div>
                                    </div>

                                </div>
                                <br>
                            </div>
                        </div>
                        <!-- Delivery Information Ends -->
                    </form>
                </div>
            </div>
            <!-- Shipping Address Block Ends -->
            <!-- Billing Address Block Starts -->
            <div class="panel panel-smart">
                <div class="panel-heading">
                    <h3 class="panel-title">BILLING ADDRESS</h3>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form" >
                        <!-- Delivery Information Starts -->
                        <div class="form-group grid" >
                            <div class="col-md-4 col-sm-6 col-xs-12" ng-repeat="address in userBillingAddress">
                                <p> <strong>{{address.afullname}}</strong>
                                    <br>{{address.aaddress1}}
                                    <br ng-if="address.aaddress2.length < 0">{{address.aaddress2}}
                                    <br>{{address.acity}}, {{address.astate}} {{address.azip}}
                                    <br>{{address.acountry}}<br>
                                    <strong ng-if="address.apreferred == true">[ * Preferred * ]</strong>
                                    <br ng-if="address.apreferred == false">
                                </p>
                                <div class="grid">
                                    <div class="row">
                                        <div class="col-md-3 col-sm-2 col-xs-2">
                                            <button type="submit" class="btn btn-black" ng-click="shoEditBilAddModal()">EDIT</button>
                                        </div>
                                        <div class="col-md-3 col-sm-2 col-xs-2">
                                            <button type="submit" class="btn btn-black">DELETE</button>
                                        </div>
                                    </div>

                                </div>
                                <br>
                            </div>
                        </div>
                        <!-- Delivery Information Ends -->
                    </form>
                </div>
            </div>
            <!-- Billing Address Block Ends -->
            <!-- Add a New Address Block Starts -->
            <div class="panel panel-smart">
                <div class="panel-heading">
                    <h3 class="panel-title">ADD A NEW ADDRESS</h3>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form" >
                        <!-- Delivery Information Starts -->
                        <div class="form-group grid" >
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <button type="submit" class="btn btn-black" ng-click="shoAddBilAddModal()">BILLING ADDRESS</button>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <button type="submit" class="btn btn-black" ng-click="shoAddShpAddModal()">SHIPPING ADDRESS</button>
                            </div>
                            <br>
                        </div>
                        <!-- Delivery Information Ends -->
                    </form>
                </div>
            </div>
            <!-- Add a New Address Block Ends -->
        </div>
        <!-- Primary Content Ends -->
    </div>
</div>
<!-- Main Container Ends -->