<!-- Main Container Starts -->
<div id="main-container" class="container">
    <div class="row">
        <!-- Sidebar Starts -->
        <div class="col-md-3">
            <!-- Categories Links Starts -->
            <my-account-nav info=""></my-account-nav>
            <!-- Categories Links Ends -->
        </div>
        <!-- Sidebar Ends -->
        <!-- Primary Content Starts -->
        <div class="col-md-9">
            <!-- Breadcrumb Starts -->
            <ol class="breadcrumb">
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li class="active">{{userData.uname}}</li>
                <li class="active">Payment Method</li>
            </ol>
            <div class="panel panel-smart">
                <div class="panel-heading">
                    <h3 class="panel-title">Payment Method</h3>
                </div>
                <div class="panel-body">
                    <!-- Registration Form Starts -->
                    <form class="form-horizontal" role="form">
                        <!-- Personal Information Starts -->
                        <div class="form-group" ng-repeat="pay in userPayment">
                            <div class="col-md-offset-1 col-md-1 col-sm-1 col-xs-2">
                                <img ng-if="pay.ctype=='Visa'" src="images/payment-icon/visa.png" alt="PaymentGateway">
                                <img ng-if="pay.ctype=='Master Card'" src="images/payment-icon/mastercard.png" alt="PaymentGateway">
                                <img ng-if="pay.ctype=='American Express'" src="images/payment-icon/americanexpress.png" alt="PaymentGateway">
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                <label class="control-label">Ending in {{pay.cnumber}}</label>
                            </div>
                            <div class="col-md-2 col-sm-3 col-xs-2">
                                <label class="control-label">Expires {{pay.cexpdate | date}}</label>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                <button type="submit" class="btn btn-black" ng-click="shoAddPaymentModal()">CHANGE</button>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                <button type="submit" class="btn btn-danger" ng-click="removePayment(pay)">DELETE</button>
                            </div>
                            <div class="col-md-2 col-sm-2 hidden-xs" ng-if="pay.ppreferred == true">
                                <label class="control-label">[*Preferred*]</label>
                            </div>
                            <div class="hidden-lg hidden-md hidden-sm col-xs-2" ng-if="pay.ppreferred == true">
                                <label class="control-label">[Preferred]</label>
                            </div>
                            <!-- Password Area Ends -->
                            <!-- Registration Form Starts -->
                        </div>
                    </form>
                    <br>
                    <div class="panel-heading">
                    </div>
                    <br>
                    <form class="form-group">
                        <div class="col-md-offset-4 col-md-1 col-sm-1 col-xs-2">
                            <button type="submit " ng-click="shoAddPaymentModal()" class="btn btn-black">ADD A NEW PAYMENT METHOD</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Primary Content Ends -->
        </div>
    </div>
</div>
<!-- Main Container Ends -->