<!-- Main Container Starts -->
<div id="main-container" class="container">
    <div class="row">
        <!-- Sidebar Starts -->
        <div class="col-md-3">
            <!-- Categories Links Starts -->
            <my-account-nav info=""></my-account-nav>
            <!-- Categories Links Ends -->
        </div>
        <!-- Sidebar Ends -->
        <!-- Primary Content Starts -->
        <div class="col-md-9">
            <!-- Breadcrumb Starts -->
            <ol class="breadcrumb">
                <li>
                    <a href="#/index.html">Home</a>
                </li>
                <li class="active">{{userData.uname}}</li>
                <li class="active">Orders</li>
            </ol>
            <!-- Breadcrumb Ends -->
            <!-- Main Heading Starts -->
            <h2 class="main-heading2">Orders</h2>
            <!-- Main Heading Ends -->
            <!-- Category Intro Content Starts -->
            <div class="table table-responsive shopping-cart-table" ng-if="userOrder.length > 0">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <td class="text-center hidden-xs">Order Number</td>
                        <td class="text-center hidden-xs">Order Date</td>
                        <td class="text-center hidden-xs">Order Status</td>
                        <td class="text-center hidden-xs">Order Total</td>
                        <td class="text-center hidden-lg hidden-md hidden-sm">Number</td>
                        <td class="text-center hidden-lg hidden-md hidden-sm">Date</td>
                        <td class="text-center hidden-lg hidden-md hidden-sm">Status</td>
                        <td class="text-center hidden-lg hidden-md hidden-sm">Total</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="order in userOrder">
                        <td class="text-center">
                            <a ng-href="#/account-orderdetails.html/{{order.oid}}">{{order.oid}}</a>
                        </td>
                        <td class="text-center hidden-xs">{{order.odate | date}}</td>
                        <td class="text-center hidden-lg hidden-md hidden-sm">{{order.odate}}</td>
                        <td class="text-center">{{order.ostatus}}</td>
                        <td class="text-center">{{order.ototal}}</td>
                    </tr>
                    </tbody>
                    <tfoot></tfoot>
                </table>
            </div>
            <!-- Category Intro Content Ends -->
            <!-- Empty Cart Section Starts -->
            <div class="text-center" ng-if="userOrder.length <= 0">
                <section class="registration-area">
                    <div class="row">
                        <div class="col-sm-6 col-md-offset-3" >
                            <!-- Message Panel Starts -->
                            <div class="panel panel-smart">
                                <div class="panel-heading">
                                    <h3 class="panel-title">There Are No Recent Orders.</h3>
                                </div>
                                <div class="panel-body text-center">
                                    <div class="text-uppercase clearfix">
                                        <a href="#/index.html" class="btn btn-main text-center">
                                            <span href="#/index.html" class="hidden-xs">Continue Shopping</span>
                                            <span class="visible-xs" href="#/index.html">Continue</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- Message Panel Ends -->
                        </div>
                    </div>
                </section>
            </div>
            <!-- Empty Cart Section Ends -->
        </div>
        <!-- Primary Content Ends -->
    </div>
</div>
<!-- Main Container Ends -->