<!-- Main Container Starts -->
<div id="main-container" class="container">
    <div class="row">
        <!-- Sidebar Starts -->
        <div class="col-md-3">
            <my-account-nav info=""></my-account-nav>
        </div>
        <!-- Sidebar Ends -->
        <!-- Primary Content Starts -->
        <div class="col-md-9">
            <!-- Breadcrumb Starts -->
            <ol class="breadcrumb">
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li class="active">{{userData.uname}}</li>
                <li class="active">Account and Personal Information</li>
            </ol>
            <div class="panel panel-smart">
                <div class="panel-heading">
                    <h3 class="panel-title">Personal Information</h3>
                </div>
                <div class="panel-body">
                    <!-- Registration Form Starts -->
                    <form class="form-horizontal" role="form">
                        <!-- Personal Information Starts -->
                        <div class="form-group">
                            <label for="inputFname" class="col-sm-3 control-label">First Name :</label>
                            <div class="col-sm-9">
                                <label class="control-label" id="inputCompany" placeholder="Full Name">{{userData.ufirstname}}</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputLname" class="col-sm-3 control-label">Last Name :</label>
                            <div class="col-sm-9">
                                <label class="control-label" id="inputCompany" placeholder="Full Name">{{userData.ulastname}}</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputLname" class="col-sm-3 control-label">Date of Birth :</label>
                            <div class="col-sm-9">
                                <label class="control-label" id="inputCompany" placeholder="Date of Birth">{{userData.udob | date}}</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail" class="col-sm-3 control-label">Email :</label>
                            <div class="col-sm-9">
                                <label class="control-label" id="inputCompany" placeholder="Full Name">{{userData.uemail}}</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPhone" class="col-sm-3 control-label">Phone :</label>
                            <div class="col-sm-9">
                                <label class="control-label" id="inputCompany" placeholder="Full Name">{{userData.uphone}}</label>
                            </div>
                        </div>
                        <h3 class="panel-heading inner">Account Information</h3>
                        <!-- Password Area Starts -->
                        <div class="form-group">
                            <label for="inputFax" class="col-sm-3 control-label">Username:</label>
                            <div class="col-sm-9">
                                <label class="control-label" id="inputCompany" placeholder="Full Name">{{userData.uname}}</label>
                            </div>
                        </div>
                        <div class="form-group"></div>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <button type="submit" class="btn btn-black">EDIT ACCOUNT INFO</button>
                                <button type="submit" class="btn btn-black">CHANGE PASSWORD</button>
                            </div>
                        </div>
                        <!-- Password Area Ends -->
                    </form>
                    <!-- Registration Form Starts -->
                </div>
            </div>
        </div>
        <!-- Primary Content Ends -->
    </div>
</div>
<!-- Main Container Ends -->