<!-- Main Container Starts -->
<div id="main-container" class="container">
	<!-- Breadcrumb Starts -->
	<ol class="breadcrumb">
		<li>
			<a href="index.html">Home</a>
		</li>
		<li class="active">Shopping Cart</li>
	</ol>
	<!-- Breadcrumb Ends -->
	<!-- Main Heading Starts -->
	<h2 class="main-heading text-center">Shopping Cart</h2>
	<!-- Main Heading Ends -->
	<!-- Shopping Cart Table Starts -->
	<div class="table-responsive shopping-cart-table" ng-if="userCart.length >0">
		<table class="table table-bordered">
			<thead>
			<tr>
				<td class="text-center hidden-xs">Image</td>
				<td class="text-center hidden-xs">Product Details</td>
				<td class="text-center hidden-lg hidden-md hidden-sm">Details</td>
				<td class="text-center hidden-xs">Quantity</td>
				<td class="text-center hidden-lg hidden-md hidden-sm">Qty</td>
				<td class="text-center">Price</td>
				<td class="text-center">Total</td>
				<td class="text-center">Action</td>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="cart in userCart">
				<td class="text-center hidden-xs">
					<a href="product.html">

						<img src="images/product-images/cart-thumb-img1.jpg" alt="Product Name" title="Product Name" class="img-thumbnail">

					</a>
				</td>
				<td class="text-center hidden-xs">
					<a ng-href="#/product.html/{{cart.pid}}">{{cart.pname}}</a>
				</td>
				<td class="text-center hidden-lg hidden-md hidden-sm">
					<a ng-href="#/product.html/{{cart.pid}}">{{cart.pname | limitTo:4}}{{cart.pname.length > 4 ? '...':''}}</a>
				</td>
				<td class="text-center">
					<div class="input-group btn-block">
						<input type="number" class="form-control" name="quantity" data-ng-model="cart.pquantity" min="1" max="99">
					</div>
				</td>
				<td class="text-center">{{cart.pprice | currency}}</td>
				<td class="text-center">{{cart.pprice * cart.pquantity | currency}}</td>
				<td class="text-center">
					<button type="button" title="Remove" class="btn btn-default tool-tip">
						<i class="fa fa-times-circle"></i>
					</button>
				</td>
			</tr>
			</tbody>
			<tfoot>
			<tr>
				<td colspan="4" class="text-right">
					<strong>Subtotal :</strong>
				</td>
				<td colspan="2" class="text-left">{{ getSubTotal() | currency }}</td>
			</tr>
			</tfoot>
		</table>
	</div>
	<!-- Shopping Cart Table Ends -->
	<!-- Checkout Section Starts -->
    <div class="text-center" ng-if="userCart.length >0">
	<section class="registration-area">
		<div class="row">
			<!-- Total Blocks Starts -->
			<div class="col-sm-6 col-md-offset-3" >
				<!-- Total Panel Starts -->
				<div class="panel panel-smart">
					<div class="panel-heading">
						<h3 class="panel-title">Subtotal ({{userCart.length}} items): {{ getSubTotal() | currency }}</h3>
					</div>
					<div class="panel-body">
						<div class="text-uppercase clearfix">
							<a href="#/index.html" class="btn btn-main pull-left">
								<span href="#/index.html" class="hidden-xs">Continue Shopping</span>
								<span class="visible-xs" href="#/index.html">Checkout</span>
							</a>
							<a href="#/checkout" class="btn btn-main pull-right">
								Checkout
							</a>
						</div>
					</div>
				</div>
				<!-- Total Panel Ends -->
			</div>
			<!-- Total Blocks Ends -->
		</div>
	</section>
    </div>
	<!-- Checkout Section Ends -->
	<!-- Empty Cart Section Starts -->
	<div class="text-center" ng-if="userCart.length <= 0">
		<section class="registration-area">
			<div class="row">
				<div class="col-sm-6 col-md-offset-3" >
					<!-- Message Panel Starts -->
					<div class="panel panel-smart">
						<div class="panel-heading">
							<h3 class="panel-title">Your Cart is Empty!</h3>
						</div>
						<div class="panel-body text-center">
							<div class="text-uppercase clearfix">
								<a href="#/index.html" class="btn btn-main text-center">
									<span href="#/index.html" class="hidden-xs">Continue Shopping</span>
									<span class="visible-xs" href="#/index.html">Continue</span>
								</a>
							</div>
						</div>
					</div>
					<!-- Message Panel Ends -->
				</div>
			</div>
		</section>
	</div>
	<!-- Empty Cart Section Ends -->
</div>
<!-- Main Container Ends -->
