<!-- Main Container Starts -->
<div id="main-container" class="container">
    <!-- Breadcrumb Starts -->
    <ol class="breadcrumb">
        <li><a href="index.html">Home</a></li>
        <li class="active">Checkout</li>
    </ol>
    <!-- Breadcrumb Ends -->
    <!-- Main Heading Starts -->
    <h2 class="main-heading text-center">
        Checkout
    </h2>
    <!-- Main Heading Ends -->
    <section class="overview" ng-if="userCart.length > 0">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-smart">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Order Summary
                        </h3>
                    </div>
                    <div class="panel-body">
                        <table class="table table-responsive table-striped">
                            <thead>
                                <td class="text-left"><b>Product Details</b></td>
                                <td class="text-left"><b>Quantity</b></td>
                                <td class="text-left"><b>Price</b></td>
                                <td class="text-left"><b>Item Total</b></td>
                            </thead>
                            <tbody>
                                <tr ng-repeat="cart in userCart">
                                    <td class="text-left">
                                        <a ng-href="#/product.html/{{cart.pid}}">{{cart.pname}}</a>
                                    </td>
                                    <td class="text-left">{{cart.pquantity | number}}</td>
                                    <td class="text-left">
                                        <span ng-if="cart.inoffer==true" class="price price-new">{{cart.offerprice | currency}}</span>
                                        <span ng-if="cart.inoffer==false" class="price price-new">{{cart.pprice | currency}}</span>
                                        <span ng-if="cart.inoffer==true" class="price price-old"><strike>{{cart.pprice | currency}}</strike></span>
                                    </td>
                                    <td class="text-left">
                                        <span ng-if="cart.inoffer==true" class="price price-new">{{cart.offerprice * cart.pquantity | currency}}</span>
                                        <span ng-if="cart.inoffer==false" class="price price-new">{{cart.pprice * cart.pquantity | currency}}</span>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="3" class="text-right">
                                        <strong>Subtotal :</strong>
                                    </td>
                                    <td colspan="3" class="text-left">
                                        {{getSubTotal() | currency}}
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Payment & Address Section Starts -->
    <section class="registration-area" ng-if="userCart.length > 0">
        <div class="row">
            <!-- Payment & Address Block Starts -->
            <div class="col-sm-6">

                <!-- Address Panel Starts -->
                <div class="panel panel-smart">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Shipping Address
                        </h3>
                    </div>
                    <div class="panel-body">
                        <p>
                            <b>{{selectedShAddress.afullname}}</b>
                            <br>{{selectedShAddress.aaddress1}}
                            <br ng-if="selectedShAddress.address2.length > 0">{{selectedShAddress.address2}}
                            <br>{{selectedShAddress.acity}}, {{selectedShAddress.astate}} {{selectedShAddress.azip}}
                            <br>{{selectedShAddress.acountry}}<br>
                        </p>
                        <p>
                            <button type="button" class="btn btn-black" ng-click="shoPreferredShpAddModal()">Change Address</button>
                        </p>
                    </div>
                </div>
                <!-- Address Panel Ends -->
                <!-- Payment Method Block Starts -->
                <div class="panel panel-smart">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Payment Method
                        </h3>
                    </div>
                    <div class="panel-body">
                        <!-- Form Starts -->
                        <fieldset class="form-group">

                            <div class="form-check" >
                                <form class="form-check-label">
                                    <label class="form-check-input" name="optionsRadio" id="Visa" value="{{selectedPayment.cid}}">
                                        <img ng-if="selectedPayment.ctype=='Visa'" src="images/payment-icon/visa.png" alt="PaymentGateway">
                                        <img ng-if="selectedPayment.ctype=='Master Card'" src="images/payment-icon/mastercard.png" alt="PaymentGateway">
                                        <img ng-if="selectedPayment.ctype=='American Express'" src="images/payment-icon/americanexpress.png" alt="PaymentGateway">
                                        <b>Ending in {{selectedPayment.cnumber}}</b>
                                    </label>
                                </form>
                                <br>
                                <!-- Simple dropdown -->
                                <span uib-dropdown on-toggle="toggled(open)">
                                    <a href id="simple-dropdown" uib-dropdown-toggle>Change</a>
                                    <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown" ng-value="selectedPayment">
                                        <li role="menuitem" ng-repeat="pay in userPayments">
                                            <a ng-click="changePayment(pay)">
                                                <img ng-if="pay.ctype=='Visa'" src="images/payment-icon/visa.png" alt="PaymentGateway">
                                                <img ng-if="pay.ctype=='Master Card'" src="images/payment-icon/mastercard.png" alt="PaymentGateway">
                                                <img ng-if="pay.ctype=='American Express'" src="images/payment-icon/americanexpress.png" alt="PaymentGateway">
                                                <b>Ending in {{pay.cnumber}}</b>
                                            </a>
                                        </li>
                                    </ul>
                                </span>
                            </div>
                        </fieldset>
                        <!-- Form Ends -->
                    </div>
                </div>
                <!-- Payment Method Block Ends -->
            </div>
            <!-- Payment & Address Block Ends -->

            <!-- Shipping & Discount Blocks Starts -->
            <div class="col-sm-6">
                <!-- Shipping Block Starts -->
                <div class="panel panel-smart">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Shipping Method
                        </h3>
                    </div>
                    <div class="panel-body">
                        <!-- Form Starts -->
                        <form class="form-horizontal" role="form">
                            <div class="form-check">
                                <form action="">
                                    <select class="form-control" autocomplete="on" ng-model="selection.fee" ng-options="fee as ((fee.fee | currency:'$') + ' - ' + fee.fee_description) for fee in shipmentFees">
                                        <option value="" >Select a Shipment Fee</option>
                                    </select>
                                </form>
                            </div>
                        </form>
                        <!-- Form Ends -->
                    </div>
                </div>
                <!-- Shipping Block Ends -->

                <!-- Total Panel Starts -->
                <div class="panel panel-smart">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Total
                        </h3>
                    </div>
                    <div class="panel-body">
                        <dl class="dl-horizontal">
                            <dt>Subtotal :</dt>
                            <dd>{{getSubTotal() | currency}}</dd>
                            <dt>Shipment Fee :</dt>
                            <dd>{{selection.fee.fee | currency}}</dd>
                        </dl>
                        <hr />
                        <dl class="dl-horizontal total">
                            <dt>Total :</dt>
                            <dd>{{getSubTotal() + selection.fee.fee | currency}}</dd>
                        </dl>
                        <hr />
                        <div class="text-uppercase clearfix">
                            <a href="#/cart.html" class="btn btn-main pull-left">
                                <span class="hidden-xs">Go back to cart</span>
                                <span class="visible-xs">Continue Shopping</span>
                            </a>
                            <a class="btn btn-main pull-right" ng-disabled="!selection.fee" ng-click="placeOrder()">
                                Place Order
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Total Panel Ends -->
            </div>
            <!-- Shipping & Discount Blocks Ends -->
        </div>
    </section>
    <!-- Shipping Section Ends -->
    <!-- Empty Cart Section Starts -->
    <div class="text-center" ng-if="userCart.length <= 0">
        <section class="registration-area">
            <div class="row">
                <div class="col-sm-6 col-md-offset-3" >
                    <!-- Message Panel Starts -->
                    <div class="panel panel-smart">
                        <div class="panel-heading">
                            <h3 class="panel-title">Your Cart is Empty!</h3>
                        </div>
                        <div class="panel-body text-center">
                            <div class="text-uppercase clearfix">
                                <a href="#/index.html" class="btn btn-main text-center">
                                    <span href="#/index.html" class="hidden-xs">Continue Shopping</span>
                                    <span class="visible-xs" href="#/index.html">Continue</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- Message Panel Ends -->
                </div>
            </div>
        </section>
    </div>
    <!-- Empty Cart Section Ends -->
</div>
<!-- Main Container Ends -->