<!-- Main Container Starts -->
<div id="main-container" class="container">
    <!-- Breadcrumb Starts -->
    <ol class="breadcrumb">
        <li><a href="index.html">Home</a></li>
        <li class="active">Checkout</li>
    </ol>
    <!-- Breadcrumb Ends -->
    <!-- Main Heading Starts -->
    <h2 class="main-heading text-center">
        Checkout
    </h2>
    <!-- Main Heading Ends -->

    <!-- Order Summary Table Starts -->
    <!--<div class="table-responsive order-summary-table">-->
    <!--<table class="table table-bordered">-->
    <!--<thead>-->
    <!--<tr>-->
    <!--<th colspan="3" class="text-center" bgcolor="#4BAC52">-->
    <!--<strong>Order Summary</strong>-->
    <!--</th>-->
    <!--</tr>-->
    <!--</thead>-->

    <!--<tbody>-->
    <!--<tr>-->
    <!--<td class="text-center">-->
    <!--Products-->
    <!--</td>-->
    <!--<td class="text-center">-->
    <!--Quantity-->
    <!--</td>-->
    <!--<td class="text-center">-->
    <!--Price-->
    <!--</td>-->
    <!--</tr>-->
    <!--<tr>-->
    <!--<td class="text-center">-->
    <!--<a href="product-full.html">Digital Electro Goods</a>-->
    <!--</td>-->
    <!--<td class="text-center">-->
    <!--2-->
    <!--</td>-->
    <!--<td class="text-left">-->
    <!--$150.00-->
    <!--</td>-->
    <!--</tr>-->
    <!--<tr>-->
    <!--<td class="text-center">-->
    <!--<a href="product-full.html">Pokemon Rumble</a>-->
    <!--</td>-->
    <!--<td class="text-center">-->
    <!--1-->
    <!--</td>-->
    <!--<td class="text-left">-->
    <!--$39.99-->
    <!--</td>-->
    <!--</tr>-->
    <!--</tbody>-->
    <!--<tfoot>-->
    <!--<tr>-->
    <!--<td colspan="2" class="text-right">-->
    <!--Subtotal:-->
    <!--</td>-->
    <!--<td colspan="2" class="text-left">-->
    <!--$339.99-->
    <!--</td>-->
    <!--</tr>-->
    <!--<tr>-->
    <!--<td colspan="2" class="text-right">-->
    <!--<strong>Total :</strong>-->
    <!--</td>-->
    <!--<td colspan="2" class="text-left">-->
    <!--$339.99-->
    <!--</td>-->
    <!--</tr>-->
    <!--</tfoot>-->
    <!--</table>-->
    <!--</div>-->
    <!--&lt;!&ndash; Order Summary Table Ends &ndash;&gt;-->


    <!--&lt;!&ndash;Address Table Starts &ndash;&gt;-->
    <!--<div class="table-responsive address-table">-->
    <!--<table class="table table-bordered">-->
    <!--<thead>-->
    <!--<th class="text-center" bgcolor="4BAC52" colspan="2">-->
    <!--Address-->
    <!--</th>-->
    <!--</thead>-->

    <!--<tbody>-->
    <!--<tr>-->
    <!--<td rowspan="2">-->
    <!--<input type="radio" name="shipping-address" value="true">-->
    <!--Gary Oak<br>-->
    <!--Pallet Town 3245, Route 1<br>-->
    <!--Kanto Region, 09901<br>-->

    <!--<button type="button">Edit</button>-->
    <!--</td>-->

    <!--<td>-->
    <!--<input type="checkbox" name="mailing-address" value="true"> My shipping address is the same as my mailing address<br>-->
    <!--</td>-->
    <!--</tr>-->

    <!--<tr>-->
    <!--<td colspan="2">-->
    <!--<button type="button">Add New Address</button>-->
    <!--</td>-->
    <!--</tr>-->
    <!--</tbody>-->
    <!--</table>-->
    <!--</div>-->
    <!--&lt;!&ndash;Address Table Ends &ndash;&gt;-->

    <!--&lt;!&ndash;Shipping Table Starts &ndash;&gt;-->
    <!--<div class="table-responsive shipping-table">-->
    <!--<table class="table table-bordered">-->
    <!--<thead>-->
    <!--<th class="text-center" bgcolor="4BAC52" colspan="2">-->
    <!--Shipping-->
    <!--</th>-->
    <!--</thead>-->
    <!--<tbody>-->
    <!--<tr>-->
    <!--<td>-->
    <!--<form action="">-->
    <!--<input type="radio" name="shipping" value="free"> Free Standar Shipping (9 to 15 Business Days)<br>-->
    <!--<input type="radio" name="shipping" value="standard"> Standard Shipping (7 to 10 Business Days)<br>-->
    <!--<input type="radio" name="shipping" value="expres"> Express Shipping (2 to 7 Business Days)-->
    <!--</form>-->
    <!--</td>-->
    <!--</tr>-->
    <!--</tbody>-->
    <!--</table>-->
    <!--</div>-->
    <!--&lt;!&ndash;Shipping Table Ends &ndash;&gt;-->

    <section class="overview">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-smart">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Order Summary
                        </h3>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped">
                            <thead>
                            <th>Produtcs</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            </thead>
                            <tbody>

                            <tr>
                                <td class="text-left">
                                    <a href="product-full.html">Digital Electro Goods</a>
                                </td>

                                <td class="text-left">
                                    2
                                </td>

                                <td class="text-left">
                                    $150.00
                                </td>
                            </tr>

                            <tr>
                                <td class="text-left">
                                    <a href="product-full.html">Pokemon Rumble</a>
                                </td>

                                <td class="text-left">
                                    1
                                </td>

                                <td class="text-left">
                                    $39.99
                                </td>
                            </tr>

                            </tbody>
                            <tfoot>

                            <tr>
                                <td colspan="2" class="text-right">
                                    Subtotal:
                                </td>

                                <td colspan="2" class="text-left">
                                    $339.99
                                </td>
                            </tr>

                            <tr>
                                <td colspan="2" class="text-right">
                                    <strong>Total :</strong>
                                </td>

                                <td colspan="2" class="text-left">
                                    $339.99
                                </td>
                            </tr>

                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Payment & Address Section Starts -->
    <section class="registration-area">
        <div class="row">
            <!-- Payment & Address Block Starts -->
            <div class="col-sm-6">

                <!-- Address Panel Starts -->
                <div class="panel panel-smart">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Shipping Address
                        </h3>
                    </div>
                    <div class="panel-body">
                        <p>
                            Gary Oak<br>
                            Pallet Town 3245, Route 1<br>
                            Kanto Region, 09901<br>
                        </p>

                        <p>
                            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Edit</button>
                        </p>

                        <!--Modal-->
                        <div class="modal fade" id="myModal" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Edit Address</h4>
                                    </div>

                                    <div class="modal-body">
                                        <form role="form">
                                            <div class="form-group">

                                                <label for="name">
                                                        <span class="">
                                                            First name:
                                                        </span>
                                                </label>
                                                <input type="text" class="form-control" id="name" placeholder="First name">

                                                <br>

                                                <label for="lastname">
                                                        <span class="">
                                                            Last name:
                                                        </span>
                                                </label>
                                                <input type="text" class="form-control" id="lastname" placeholder="Last name">

                                                <br>

                                                <label for="add1">
                                                        <span class="">
                                                            Address field 1:
                                                        </span>
                                                </label>
                                                <input type="text" class="form-control" id="add1" placeholder="Address">

                                                <br>

                                                <label for="add2">
                                                        <span class="">
                                                            Address field 2:
                                                        </span>
                                                </label>
                                                <input type="text" class="form-control" id="add2" placeholder="Address">

                                                <br>

                                                <label for="city">
                                                        <span class="">
                                                            City:
                                                        </span>
                                                </label>
                                                <input type="text" class="form-control" id="city" placeholder="City">

                                                <br>

                                                <label for="state">
                                                        <span class="">
                                                            State / Province / Region:
                                                        </span>
                                                </label>
                                                <input type="text" class="form-control" id="state" placeholder="State / Province / Region">

                                                <br>

                                                <label for="">
                                                        <span class="">
                                                           Country:
                                                        </span>
                                                </label>
                                                <br>
                                                <div class="btn-group">
                                                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        Country
                                                    </button>
                                                    <div class="dropdown-menu">
                                                        <a class="dropdown-item" href="#">Action</a>
                                                        <a class="dropdown-item" href="#">Another action</a>
                                                        <a class="dropdown-item" href="#">Something else here</a>
                                                        <div class="dropdown-divider"></div>
                                                        <a class="dropdown-item" href="#">Separated link</a>
                                                    </div>
                                                </div>

                                                <br><br>

                                                <label for="zipcode">
                                                        <span class="">
                                                            Postal / Zip Code:
                                                        </span>
                                                </label>
                                                <input type="text" class="form-control" id="zipcode" placeholder="Postal / Zip Code">

                                                <br>

                                                <label for="email">
                                                        <span class="">
                                                            Email:
                                                        </span>
                                                </label>
                                                <input type="text" class="form-control" id="email" placeholder="Email">

                                                <br>

                                                <label for="phone">
                                                        <span class="">
                                                            Phone number:
                                                        </span>
                                                </label>
                                                <input type="text" class="form-control" id="phone" placeholder="Phone number">

                                            </div>
                                        </form>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>

                                </div>

                            </div>

                        </div>

                        <p>
                            <input type="checkbox" name="mailing-address" value="true"> My mailing address is the same as my shipping address<br>

                        </p>
                    </div>
                </div>
                <!-- Address Panel Ends -->

                <!-- Payment Method Block Starts -->
                <div class="panel panel-smart">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Payment Method
                        </h3>
                    </div>
                    <div class="panel-body">
                        <!-- Form Starts -->
                        <fieldset class="form-group">

                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="optionsRadio" id="Visa" value="option1">
                                    <img src="images/payment-icon/visa.png" alt="PaymentGateway" />  Visa
                                </label>
                            </div>

                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="optionsRadio" id="MasterCard" value="option2">
                                    <img src="images/payment-icon/cirrus.png" alt="PaymentGateway" />  Cirrus
                                </label>
                            </div>

                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="optionsRadio" id="AmericanExpress" value="option3">
                                    <img src="images/payment-icon/americanexpress.png" alt="PaymentGateway" />  American Express
                                </label>
                            </div>

                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="optionsRadio" id="AmericanExpress" value="option3">
                                    <img src="images/payment-icon/mastercard.png" alt="PaymentGateway" />  Master Card
                                </label>
                            </div>


                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="optionsRadio" id="AmericanExpress" value="option3">
                                    <img src="images/payment-icon/paypal.png" alt="PaymentGateway" />  PayPal
                                </label>
                            </div>

                        </fieldset>
                        <!-- Form Ends -->
                    </div>
                </div>
                <!-- Payment Method Block Ends -->
            </div>
            <!-- Payment & Address Block Ends -->

            <!-- Shipping & Discount Blocks Starts -->
            <div class="col-sm-6">
                <!-- Shipping Block Starts -->
                <div class="panel panel-smart">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Shipping Method
                        </h3>
                    </div>
                    <div class="panel-body">
                        <!-- Form Starts -->
                        <form class="form-horizontal" role="form">
                            <div class="form-check">
                                <form action="">
                                    <input type="radio" name="shipping" value="free"> Free Standard Shipping (9 to 15 Business Days) - $0.00<br>
                                    <input type="radio" name="shipping" value="standard"> Standard Shipping (7 to 10 Business Days) - $5.99<br>
                                    <input type="radio" name="shipping" value="expres"> Express Shipping (2 to 7 Business Days) - $12.99
                                </form>
                            </div>
                        </form>
                        <!-- Form Ends -->
                    </div>
                </div>
                <!-- Shipping Block Ends -->

                <!-- Coupon Block Starts -->
                <div class="panel panel-smart">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Add a gift card or promotion code
                        </h3>
                    </div>
                    <div class="panel-body">
                        <!-- Form Starts -->
                        <div class="input-group">
                            <input type="text" class="form-control" id="promotioncode" placeholder="Enter code">
                            <span class="input-group-btn">
												<button type="button" class="btn btn-default"> Apply </button>
											</span>
                        </div>
                        <!-- Form Ends -->
                    </div>
                </div>
                <!-- Coupon Block Ends -->

                <!-- Total Panel Starts -->
                <div class="panel panel-smart">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Total
                        </h3>
                    </div>
                    <div class="panel-body">
                        <dl class="dl-horizontal">
                            <dt>Coupon Discount :</dt>
                            <dd>$-25.00</dd>
                            <dt>Subtotal :</dt>
                            <dd>$314.99</dd>
                            <dt>Shipment Fee :</dt>
                            <dd>$12.99</dd>
                            <dt>Tax Total :</dt>
                            <dd>$354.08</dd>
                        </dl>
                        <hr />
                        <dl class="dl-horizontal total">
                            <dt>Total :</dt>
                            <dd>$365.70</dd>
                        </dl>
                        <hr />
                        <div class="text-uppercase clearfix">
                            <a href="#" class="btn btn-default pull-left">
                                <span class="hidden-xs">Go back to cart</span>
                                <span class="visible-xs">Continue</span>
                            </a>
                            <a href="#" class="btn btn-default pull-right">
                                Continue to Payment
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Total Panel Ends -->
            </div>
            <!-- Shipping & Discount Blocks Ends -->
        </div>
    </section>
    <!-- Shipping Section Ends -->
</div>
<!-- Main Container Ends -->