<!-- Main Container Starts -->
<div id="main-container-home" class="container">
    <div class="container">
        <!-- Sidebar Starts -->
        <!-- Sidebar Ends -->
        <!-- Primary Content Starts -->
        <div class="container">
            <!-- Slider Section Starts -->
            <div class="slider">
                <div ng-if="slides.length > 0">
                    <div style="">
                        <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                            <div class="" uib-slide ng-repeat="slide in slides track by $index" index="$index">
                                <img ng-src="{{slide.sa_img}}" class="img-responsive" style="margin:auto;">
                                <div class="carousel-caption">
                                    <p>{{slide.sa_title}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Slider Section Ends -->
            <!-- Latest Products Starts -->
            <section class="product-carousel">
                <!-- Heading Starts -->
                <h2 class="product-head">Latest Products</h2>
                <!-- Heading Ends -->
                <!-- Products Row Starts -->
                <div class="row">
                    <div class="col-xs-12">
                        <!-- Product Carousel Starts -->
                        <data-owl-carousel class="owl-carousel">
                            <div owl-carousel-item="" ng-repeat="item in ::latest" class="item" >
                                <div class="product-col">
                                    <div class="image">
                                        <img ng-src="{{item.photolink}}" alt="{{item.title}}" class="img-responsive">
                                    </div>
                                    <div class="caption">
                                        <h4>
                                            <a ng-href="#/product.html/{{item.pid}}">{{item.title | limitTo:16}}</a>
                                        </h4>
                                        <div class="description"></div>
                                        <div class="price">

                                            <span ng-if="item.inoffer==true" class="price-new">{{item.offerprice | currency}}</span>
                                            <span ng-if="item.inoffer==false" class="price-new">{{item.price | currency}}</span>
                                            <span ng-if="item.inoffer==true" class="price-old">{{item.price | currency}}</span>

                                        </div>
                                        <div class="cart-button">
                                            <button type="button" class="btn btn-cart" ng-click="addToCart(item.pid)">Add to cart
                                                <i class="fa fa-shopping-cart"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </data-owl-carousel>
                        <!-- Product Carousel Ends -->
                    </div>
                </div>
                <!-- Products Row Ends -->
            </section>
            <!-- Latest Products Ends -->
            <!-- Specials Products Starts -->
            <section class="product-carousel">
                <!-- Heading Starts -->
                <h2 class="product-head">Special Products</h2>
                <!-- Heading Ends -->
                <!-- Products Row Starts -->
                <div class="row">
                    <div class="col-xs-12">
                        <!-- Product Carousel Starts -->
                        <data-owl-carousel class="owl-carousel" data-options="{navigation: false, pagination: false, rewindNav: true}">
                            <div owl-carousel-item="" ng-repeat="item in ::specials" class="item" >
                                <div class="product-col">
                                    <div class="image">
                                        <img ng-src="{{item.photolink}}" alt="{{item.title}}" class="img-responsive">
                                    </div>
                                    <div class="caption">
                                        <h4>
                                            <a ng-href="#/product.html/{{item.pid}}">{{item.title | limitTo:16}}</a>
                                        </h4>
                                        <div class="description"></div>
                                        <div class="price">
                                        <span ng-if="item.inoffer==true" class="price-new">{{item.offerprice | currency}}</span>
                                            <span ng-if="item.inoffer==false" class="price-new">{{item.price | currency}}</span>
                                            <span ng-if="item.inoffer==true" class="price-old">{{item.price | currency}}</span>


                                        </div>
                                        <div class="cart-button">
                                            <button type="button" class="btn btn-cart" ng-click="addToCart(item.pid)">Add to cart
                                                <i class="fa fa-shopping-cart"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </data-owl-carousel>
                        <!-- Product Carousel Ends -->
                    </div>
                </div>
                <!-- Products Row Ends -->
            </section>
            <!-- Specials Products Ends -->
            <!-- Top Products Starts -->
            <section class="product-carousel" ng-if="specials.length <= 0 || latest.length <= 0">
                <!-- Heading Starts -->
                <h2 class="product-head">Top Products</h2>
                <!-- Heading Ends -->
                <!-- Products Row Starts -->
                <div class="row">
                    <div class="col-xs-12">
                        <!-- Product Carousel Starts -->
                        <data-owl-carousel class="owl-carousel" data-options="{navigation: false, pagination: false, rewindNav: true}">
                            <div owl-carousel-item="" ng-repeat="item in ::top" class="item" >
                                <div class="product-col">
                                    <div class="image">
                                        <img ng-src="{{item.photolink}}" alt="{{item.title}}" class="img-responsive">
                                    </div>
                                    <div class="caption">
                                        <h4>
                                            <a ng-href="#/product.html/{{item.pid}}">{{item.title | limitTo:16}}</a>
                                        </h4>
                                        <div class="description"></div>
                                        <div class="price">
                                            <span ng-if="item.inoffer==true" class="price-new">{{item.offerprice | currency}}</span>
                                            <span ng-if="item.inoffer==false" class="price-new">{{item.price | currency}}</span>
                                            <span ng-if="item.inoffer==true" class="price-old">{{item.price | currency}}</span>
                                        </div>
                                        <div class="cart-button" ng-click="addToCart(item.pid)">
                                            <button type="button" class="btn btn-cart">Add to cart
                                                <i class="fa fa-shopping-cart"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </data-owl-carousel>
                        <!-- Product Carousel Ends -->
                    </div>
                </div>
                <!-- Products Row Ends -->
            </section>
            <!-- Top Products Ends -->
        </div>
        <!-- Primary Content Ends -->
    </div>
</div>
<!-- Main Container Ends -->