<!-- Main Container Starts -->
<div id="main-container" class="container">
    <div class="row">
        <!-- Sidebar Starts -->
        <!-- Sidebar Ends -->
        <!-- Primary Content Starts -->
        <div class="container">
            <!-- Breadcrumb Starts -->
            <ol class="breadcrumb">
                <li>
                    <a nghref="#/index.html">Home</a>
                </li>
                <li class="active">Product</li>
                <li>
                    <a href="#/product.html/{{product.pid}}">{{product.title}}</a>
                </li>
            </ol>
            <!-- Breadcrumb Ends -->
            <!-- Product Info Starts -->
            <div class="row product-info">
                <!-- Left Starts -->
                <div class="col-sm-5 images-block">
                    <p>
                        <a rel="{{product.pid}}" fancyboxable="{{product.pid}}" ng-href="{{product.photolink}}">
                            <img ng-src="{{product.photolink}}" width="358" height="384" alt="Image" class="img-responsive thumbnail">
                        </a>
                    </p>
                    <ul class="list-unstyled list-inline">
                        <li ng-repeat="a in altImgs">
                            <a rel="alt_group" fancyboxable ng-href="{{a.product_img}}">
                                <img ng-src="{{a.product_img}}" alt="Image" class="img-responsive thumbnail">
                            </a>
                        </li>
                    </ul>
                    <fancybox box-for="[rel=alt_group]" options="altgroup"></fancybox>
                </div>
                <!-- Left Ends -->
                <!-- Right Starts -->
                <div class="col-sm-7 product-details">
                    <!-- Product Name Starts -->
                    <h2>{{product.title}}</h2>
                    <!-- Product Name Ends -->
                    <hr>
                    <!-- Manufacturer Starts -->
                    <ul class="list-unstyled manufacturer">
                        <li>
                            <span>GENRE:</span>{{product.genre}}</li>
                        <li>
                            <span>RELEASE:</span>{{product.release | date}}</li>
                        <li>
                            <span>Product Code:</span>{{product.pid}}</li>
                        <li>
                            <span>Availability:</span>
                            <strong ng-if="product.availability==true" class="label label-success">In Stock</strong>
                            <strong ng-if="product.availability==false" class="label label-success">Out of Stock</strong>
                        </li>
                        <li>
                            <img ng-src="images/esrb/{{product.esrb}}.png" alt="ESRB Rating">
                        </li>
                    </ul>
                    <!-- Manufacturer Ends -->
                    <hr>
                    <!-- Price Starts -->
                    <div class="price">
                        <span class="price-head">Price :</span>

                        <span ng-if="product.inoffer==true" class="price-new">{{product.offerprice | currency}}</span>
                        <span ng-if="product.inoffer==false" class="price-new">{{product.price | currency}}</span>
                        <span ng-if="product.inoffer==true" class="price-old">{{product.price | currency}}</span>
                    </div>
                    <!-- Price Ends -->
                    <hr>
                    <!-- Available Options Starts -->
                    <div class="options">
                        <div class="form-group">
                            <label class="control-label text-uppercase" for="input-quantity">Qty:</label>
                            <input type="text" name="quantity" value="1" size="2" id="input-quantity" class="form-control">
                        </div>
                        <div class="cart-button button-group">
                            <button type="button" title="Wishlist" class="btn btn-wishlist" ng-click="addProductToWishList()">
                                <i class="fa fa-heart"></i>
                            </button>
                            <button type="button" class="btn btn-cart" ng-click="addProductToCart()">Add to cart
                                <i class="fa fa-shopping-cart"></i>
                            </button>
                        </div>
                    </div>
                    <!-- Available Options Ends -->
                    <hr>
                    <!-- Average user ratings begins -->
                    <div ng-controller="RatingCtrl">
                        <h2>AVERAGE USER RATING</h2>
                        <span uib-rating ng-model="product.rating" max="max" read-only="isReadonly"
                              on-hover="hoveringOver(value)" on-leave="overStar = null"
                              aria-labelledby="default-rating"
                        ng-click="set_rate(product.pid, product.rating)">
					    </span>
                        <span class="label"
                              ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}"
                              ng-show="overStar && !isReadonly">{{percent}}%</span>
                    </div>
                    <!-- Average user ratings end -->
                </div>
                <!-- Right Ends -->
            </div>
            <!-- product Info Ends -->
            <!-- Product Description Starts -->
            <div class="product-info-box">
                <h4 class="heading">Description</h4>
                <div class="content panel-smart">
                    <span ng-bind-html="product.description | html"></span>
                </div>
            </div>
            <!-- Product Description Ends -->
            <!-- Additional Information Starts -->
            <div class="product-info-box">
                <h4 class="heading">Additional Information</h4>
                <div class="content panel-smart">
                    <span ng-bind-html="product.aditionalinfo | html"></span>
                </div>
            </div>
            <!-- Additional Information Ends -->
            <!-- Related Products Starts -->
            <div class="product-info-box" ng-if="relatedPrds.length > 0">
                <h4 class="heading">Related Products</h4>
                <!-- Products Row Starts -->
                <div class="row">
                    <!-- Product #1 Starts -->
                    <div class="col-md-4 col-sm-6" ng-repeat="product in relatedPrds">
                        <div class="product-col">
                            <div class="image">
                                <img ng-src="{{product.photolink}}" alt="{{product.title}}" class="img-responsive">
                            </div>
                            <div class="caption">
                                <h4>
                                    <a ng-href="#/product.html/{{product.pid}}">{{product.title | limitTo: 30}}
                                        {{product.title.length > 30 ? '...' : ''}}</a>
                                </h4>
                                <div class="description">
                                    <span ng-bind-html="product.description | filter: html | limitTo: 30 "></span>
                                    {{product.description .length > 30 ? '...' : ''}}
                                </div>
                                <div class="price">
                                    <span ng-if="product.inoffer==true" class="price-new">{{product.offerprice | currency}}</span>
                                    <span ng-if="product.inoffer==false" class="price-new">{{product.price | currency}}</span>
                                    <span ng-if="product.inoffer==true" class="price-old">{{product.price | currency}}</span>
                                </div>
                                <div class="cart-button button-group">
                                    <button type="button" title="Wishlist" class="btn btn-wishlist" ng-click="addRelatedProductToWishLis(product.pid)">
                                        <i class="fa fa-heart"></i>
                                    </button>
                                    <button type="button" class="btn btn-cart" ng-click="addRelatedProductToCart(product.pid)">Add to cart
                                        <i class="fa fa-shopping-cart"></i>
                                    </button>
                                    <!--Hack to change format value-->
                                    <div style="color: white">{{format}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Product #1 Ends -->
                    <!-- Products Row Ends -->
                </div>
                <!-- Related Products Ends -->
            </div>
            <!-- Primary Content Ends -->
        </div>
    </div>
</div>
<!-- Main Container Ends -->