<!-- Header Section Ends -->
<!-- Main Container Starts -->
<div name="main-container" class="container">
    <!-- Breadcrumb Starts -->
    <ol class="breadcrumb">
        <li>
            <a href="#/index.html">Home</a>
        </li>
        <li class="active">Register</li>
    </ol>
    <!-- Breadcrumb Ends -->
    <!-- Main Heading Starts -->
    <h2 class="main-heading text-center">Register
        <br>
        <span>Create New Account</span>
    </h2>
    <!-- Main Heading Ends -->
    <!-- Registration Section Starts -->
    <section class="registration-area">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <!-- Registration Block Starts -->
                <div class="panel panel-smart">
                    <div class="panel-heading">
                        <h3 class="panel-title">Personal Information</h3>
                    </div>
                    <div class="panel-body">
                        <!-- Registration Form Starts -->
                        <form class="form-horizontal" role="form" name="register" novalidate>
                            <!-- Personal Information Starts -->
                            <div class="form-group">
                                <label  class="col-sm-2 control-label">First Name :</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="txtFname"  ng-maxlength="255"
                                           ng-minlength="1" placeholder="First Name"
                                           ng-model="new_user.ufirstname" required ng-pattern="regexs.bigText">
                                </div>
                                <div class="col-sm-1">
                                    <p class="text-danger" ng-if="register.txtFname.$dirty && register.txtFname.$invalid">*</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label  class="col-sm-2 control-label">Last Name :</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="txtLname" placeholder="Last Name"
                                           ng-maxlength="255" ng-minlength="1"
                                           ng-model="new_user.ulastname" required ng-pattern="regexs.bigText">
                                </div>
                                <div class="col-sm-1">
                                    <p class="text-danger" ng-if="register.txtLname.$dirty && register.txtLname.$invalid">*</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label  class="col-sm-2 control-label">Date of Birth :</label>
                                <div class="col-sm-8">
                                    <input type="date" class="form-control" name="txtDateOfBirth"
                                           placeholder="yyyy-MM-dd" ng-model="userDOB" required>
                                </div>
                                <div class="col-sm-1">
                                    <p class="text-danger" ng-if="register.txtDateOfBirth.$dirty && register.txtDateOfBirth.$error.required">*</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label  class="col-sm-2 control-label">Email :</label>
                                <div class="col-sm-8">
                                    <input type="email" class="form-control" name="txtEmail" placeholder="Email"
                                           ng-maxlength="255"
                                           ng-model="new_user.uemail" required ng-pattern="regexs.email">
                                </div>
                                <div class="col-sm-1">
                                    <p class="text-danger" ng-if="register.txtEmail.$dirty && register.txtEmail.$invalid">*</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label  class="col-sm-2 control-label">Phone :</label>
                                <div class="col-sm-8">
                                    <input type="tel" class="form-control" name="txtPhone" placeholder="Phone"
                                           ng-minlength="1" ng-maxlength="15"
                                           ng-model="new_user.uphone" required>
                                </div>
                                <div class="col-sm-1">
                                    <p class="text-danger" ng-if="register.txtPhone.$dirty && register.txtPhone.$invalid">*</p>
                                </div>
                            </div>
                            <!-- Personal Information Ends -->
                            <h3 class="panel-heading inner">Shipping Address</h3>
                            <!-- Delivery Information Starts -->
                            <div class="form-group">
                                <label  class="col-sm-2 control-label">Full Name :</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="txtSAddFname" placeholder="Full Name"
                                           ng-minlength="1" ng-maxlength="255"
                                           ng-model="new_user.ushippingaddress.afullname" required ng-pattern="regexs.bigText">
                                </div>
                                <div class="col-sm-1">
                                    <p class="text-danger" ng-if="register.txtSAddFname.$dirty && register.txtSAddFname.$invalid">*</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label  class="col-sm-2 control-label">Address/1 :</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="txtSAddress1" placeholder="Address/1"
                                           ng-minlength="1" ng-maxlength="255"
                                           ng-model="new_user.ushippingaddress.aaddress1" required ng-pattern="regexs.bigText">
                                </div>
                                <div class="col-sm-1">
                                    <p class="text-danger" ng-if="register.txtSAddress1.$dirty && register.txtSAddress1.$invalid">*</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label  class="col-sm-2 control-label">Address/2 :</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="txtSAddress2" placeholder="Address/2"
                                           ng-maxlength="255"
                                           ng-model="new_user.ushippingaddress.aaddress2">
                                </div>
                                <div class="col-sm-1">
                                    <p class="text-danger" ng-if="register.txtSAddress2.$dirty && register.txtSAddress2.$invalid">*</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label  class="col-sm-2 control-label">City :</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="txtSCity" placeholder="City"
                                           ng-minlength="1" ng-maxlength="255"
                                           ng-model="new_user.ushippingaddress.acity" required ng-pattern="regexs.bigText">
                                </div>
                                <div class="col-sm-1">
                                    <p class="text-danger" ng-if="register.txtSCity.$dirty && register.txtSCity.$invalid">*</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label  class="col-sm-2 control-label">Zip :</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="txtSPostCode" placeholder="Postal Code"
                                           ng-minlength="1" ng-maxlength="6"
                                           ng-model="new_user.ushippingaddress.azip" required ng-pattern="regexs.postal">
                                </div>
                                <div class="col-sm-1">
                                    <p class="text-danger" ng-if="register.txtSPostCode.$dirty && register.txtSPostCode.$invalid">*</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label  class="col-sm-2 control-label">State :</label>
                                <div class="col-sm-8">
                                    <select class="form-control" name="drpSState" autocomplete="on"
                                            ng-model="new_user.ushippingaddress.astate" required>
                                        <option value="">State</option>
                                        <option value="PR">PR</option>
                                        <option value="AK">AK</option>
                                        <option value="AL">AL</option>
                                        <option value="AR">AR</option>
                                        <option value="AZ">AZ</option>
                                        <option value="CA">CA</option>
                                        <option value="CO">CO</option>
                                        <option value="CT">CT</option>
                                        <option value="DC">DC</option>
                                        <option value="DE">DE</option>
                                        <option value="FL">FL</option>
                                        <option value="GA">GA</option>
                                        <option value="HI">HI</option>
                                        <option value="IA">IA</option>
                                        <option value="ID">ID</option>
                                        <option value="IL">IL</option>
                                        <option value="IN">IN</option>
                                        <option value="KS">KS</option>
                                        <option value="KY">KY</option>
                                        <option value="LA">LA</option>
                                        <option value="MA">MA</option>
                                        <option value="MD">MD</option>
                                        <option value="ME">ME</option>
                                        <option value="MI">MI</option>
                                        <option value="MN">MN</option>
                                        <option value="MO">MO</option>
                                        <option value="MS">MS</option>
                                        <option value="MT">MT</option>
                                        <option value="NC">NC</option>
                                        <option value="ND">ND</option>
                                        <option value="NE">NE</option>
                                        <option value="NH">NH</option>
                                        <option value="NJ">NJ</option>
                                        <option value="NM">NM</option>
                                        <option value="NV">NV</option>
                                        <option value="NY">NY</option>
                                        <option value="OH">OH</option>
                                        <option value="OK">OK</option>
                                        <option value="OR">OR</option>
                                        <option value="PA">PA</option>
                                        <option value="RI">RI</option>
                                        <option value="SC">SC</option>
                                        <option value="SD">SD</option>
                                        <option value="TN">TN</option>
                                        <option value="TX">TX</option>
                                        <option value="UT">UT</option>
                                        <option value="VA">VA</option>
                                        <option value="VT">VT</option>
                                        <option value="WA">WA</option>
                                        <option value="WI">WI</option>
                                        <option value="WV">WV</option>
                                        <option value="WY">WY</option>
                                    </select>
                                </div>
                                <div class="col-sm-1">
                                    <p class="text-danger" ng-if="register.drpSState.$dirty && register.drpSState.$error.required">*</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label  class="col-sm-2 control-label">Country :</label>
                                <div class="col-sm-8">
                                    <select class="form-control" name="drpSCountry" autocomplete="on"
                                            ng-model="new_user.ushippingaddress.acountry" required>
                                        <option value="USA">USA</option>
                                    </select>
                                </div>
                                <div class="col-sm-1">
                                    <p class="text-danger" ng-if="register.drpSCountry.$dirty && register.drpSCountry.$error.required">*</p>
                                </div>
                            </div>
                            <!-- Delivery Information Ends -->
                            <h3 class="panel-heading inner">Billing Address</h3>
                            <!-- Billing Information Starts -->
                            <div class="form-group">
                                <label  class="col-sm-2 control-label">Full Name :</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="txtBAddFname" placeholder="Full Name"
                                           ng-minlength="1" ng-maxlength="255"
                                           ng-model="new_user.ubillingaddress.afullname" required ng-pattern="regexs.bigText">
                                </div>
                                <div class="col-sm-1">
                                    <p class="text-danger" ng-if="register.txtBAddFname.$dirty && register.txtBAddFname.$invalid">*</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label  class="col-sm-2 control-label">Address/1 :</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="txtBAddress1" placeholder="Address/1"
                                           ng-minlength="1" ng-maxlength="255"
                                           ng-model="new_user.ubillingaddress.aaddress1" required ng-pattern="regexs.bigText">
                                </div>
                                <div class="col-sm-1">
                                    <p class="text-danger" ng-if="register.txtBAddress1.$dirty && register.txtBAddress1.$invalid">*</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label  class="col-sm-2 control-label">Address/2 :</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="txtBAddress2" placeholder="Address/2"
                                           ng-maxlength="255"
                                           ng-model="new_user.ubillingaddress.aaddress2">
                                </div>
                                <div class="col-sm-1">
                                    <p class="text-danger" ng-if="register.txtBAddress2.$dirty && register.txtBAddress2.$invalid">*</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label  class="col-sm-2 control-label">City :</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="txtBCity" placeholder="City"
                                           ng-minlength="1" ng-maxlength="255"
                                           ng-model="new_user.ubillingaddress.acity" required ng-pattern="regexs.bigText">
                                </div>
                                <div class="col-sm-1">
                                    <p class="text-danger" ng-if="register.txtBCity.$invalid">*</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label  class="col-sm-2 control-label">Zip :</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="txtBPostCode" placeholder="Postal Code"
                                           ng-minlength="1" ng-maxlength="6"
                                           ng-model="new_user.ubillingaddress.azip" required ng-pattern="regexs.postal">
                                </div>
                                <div class="col-sm-1">
                                    <p class="text-danger" ng-if="register.txtBPostCode.$dirty && register.txtBPostCode.$invalid">*</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label  class="col-sm-2 control-label">State :</label>
                                <div class="col-sm-8">
                                    <select class="form-control" name="drpBState" autocomplete="on"
                                            ng-model="new_user.ubillingaddress.astate" required>
                                        <option value="">State</option>
                                        <option value="PR">PR</option>
                                        <option value="AK">AK</option>
                                        <option value="AL">AL</option>
                                        <option value="AR">AR</option>
                                        <option value="AZ">AZ</option>
                                        <option value="CA">CA</option>
                                        <option value="CO">CO</option>
                                        <option value="CT">CT</option>
                                        <option value="DC">DC</option>
                                        <option value="DE">DE</option>
                                        <option value="FL">FL</option>
                                        <option value="GA">GA</option>
                                        <option value="HI">HI</option>
                                        <option value="IA">IA</option>
                                        <option value="ID">ID</option>
                                        <option value="IL">IL</option>
                                        <option value="IN">IN</option>
                                        <option value="KS">KS</option>
                                        <option value="KY">KY</option>
                                        <option value="LA">LA</option>
                                        <option value="MA">MA</option>
                                        <option value="MD">MD</option>
                                        <option value="ME">ME</option>
                                        <option value="MI">MI</option>
                                        <option value="MN">MN</option>
                                        <option value="MO">MO</option>
                                        <option value="MS">MS</option>
                                        <option value="MT">MT</option>
                                        <option value="NC">NC</option>
                                        <option value="ND">ND</option>
                                        <option value="NE">NE</option>
                                        <option value="NH">NH</option>
                                        <option value="NJ">NJ</option>
                                        <option value="NM">NM</option>
                                        <option value="NV">NV</option>
                                        <option value="NY">NY</option>
                                        <option value="OH">OH</option>
                                        <option value="OK">OK</option>
                                        <option value="OR">OR</option>
                                        <option value="PA">PA</option>
                                        <option value="RI">RI</option>
                                        <option value="SC">SC</option>
                                        <option value="SD">SD</option>
                                        <option value="TN">TN</option>
                                        <option value="TX">TX</option>
                                        <option value="UT">UT</option>
                                        <option value="VA">VA</option>
                                        <option value="VT">VT</option>
                                        <option value="WA">WA</option>
                                        <option value="WI">WI</option>
                                        <option value="WV">WV</option>
                                        <option value="WY">WY</option>
                                    </select>
                                </div>
                                <div class="col-sm-1">
                                    <p class="text-danger" ng-if="register.drpBState.$dirty && register.drpBState.$error.required">*</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label  class="col-sm-2 control-label">Country :</label>
                                <div class="col-sm-8">
                                    <select class="form-control" name="drpBCountry" autocomplete="on"
                                            ng-model="new_user.ubillingaddress.acountry" required>
                                        <option value="USA">USA</option>
                                    </select>
                                </div>
                                <div class="col-sm-1">
                                    <p class="text-danger" ng-if="register.drpBCountry.$dirty && register.drpBCountry.$error.required">*</p>
                                </div>
                            </div>
                            <!-- Billing Information Ends -->
                            <div class="form-group">
                                <div class="col-md-offset-2 col-sm-8">
                                    <a ng-click="sameAdd()" class="btn btn-main">Same As Shipping Address</a>
                                </div>
                            </div>
                            <h3 class="panel-heading inner">Credit Card Information</h3>
                            <!-- Credit Carg Information Starts -->
                            <div class="form-group">
                                <label  class="col-sm-2 control-label">Name on Card:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="txtCardName" placeholder="Name on Card"
                                           ng-minlength="1" ng-maxlength="255"
                                           ng-model="new_user.upayment.cname" required ng-pattern="regexs.bigText">
                                </div>
                                <div class="col-sm-1">
                                    <p class="text-danger" ng-if="register.txtCardName.$dirty && register.txtCardName.$invalid">*</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label  class="col-sm-2 control-label">Card Number:</label>
                                <div class="col-sm-8">
                                    <input type='number' autocomplete="on"
                                           class="form-control" name="txtCardNumber" placeholder="Card Number"
                                           ng-minlength="13" ng-maxlength="16"
                                           ng-model="userCard.cardNumber" required ng-pattern="regexs.ccard">
                                </div>
                                <div class="col-sm-1">
                                    <p class="text-danger" ng-if="register.txtCardNumber.$dirty && register.txtCardNumber.$invalid">*</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label  class="col-sm-2 control-label">Expiration Date :</label>
                                <div class="col-sm-2">
                                    <select class="form-control" autocomplete="on" name="drpCardNumber"
                                            ng-model="paymentMonth" required>
                                        <option value=''>Month</option>
                                        <option value='01'>Janaury</option>
                                        <option value='02'>February</option>
                                        <option value='03'>March</option>
                                        <option value='04'>April</option>
                                        <option value='05'>May</option>
                                        <option value='06'>June</option>
                                        <option value='07'>July</option>
                                        <option value='08'>August</option>
                                        <option value='09'>September</option>
                                        <option value='10'>October</option>
                                        <option value='11'>November</option>
                                        <option value='12'>December</option>
                                    </select>
                                    <div class="col-sm-1">
                                        <p class="text-danger" ng-if="register.drpCardNumber.$dirty && register.drpCardNumber.$error.required">*</p>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <select class="form-control" autocomplete="on" name="drpCardYear"
                                            ng-model="paymentYear" ng-options="year for year in yearOptions" required>
                                        <option value=''>Year</option>
                                    </select>
                                    <div class="col-sm-1">
                                        <p class="text-danger" ng-if="register.drpCardYear.$dirty && register.drpCardYear.$error.required">*</p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label  class="col-sm-2 control-label">CVC :</label>
                                <div class="col-sm-8">
                                    <input type="number" autocomplete="off" max="999"
                                           class="form-control" name="txtCVC" placeholder="CVC required"
                                           ng-model="userCard.CVC" required ng-pattern="regexs.cvc">
                                </div>
                                <div class="col-sm-1">
                                    <p class="text-danger" ng-if="register.txtCVC.$dirty && register.txtCVC.$invalid">*</p>
                                </div>
                            </div>
                            <br>
                            <!-- Credit Card Information Ends -->
                            <h3 class="panel-heading inner">Account Information</h3>
                            <!-- Password Area Starts -->
                            <div class="form-group">
                                <label  class="col-sm-2 control-label">Username:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="txtUname" placeholder="Username"
                                           ng-minlength="4" ng-maxlength="20"
                                           ng-model="new_user.uname" required ng-pattern="regexs.userName">
                                </div>
                                <div class="col-sm-1">
                                    <p class="text-danger" ng-if="register.txtUname.$dirty && register.txtUname.$invalid">*</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label  class="col-sm-2 control-label">Password :</label>
                                <div class="col-sm-8">
                                    <input type="password" class="form-control" name="txtPassword" autocomplete="off"
                                           placeholder="Password" ng-minlength="8" ng-maxlength="20"
                                           ng-model="new_user.upassword" required ng-pattern="regexs.password">
                                </div>
                                <div class="col-sm-1">
                                    <p class="text-danger" ng-if="(register.txtRePassword.$dirty || register.txtPassword.$dirty) && (register.txtPassword.$invalid && !validPassword())">*</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label  class="col-sm-2 control-label">Re-Password :</label>
                                <div class="col-sm-8">
                                    <input type="password" class="form-control" name="txtRePassword" autocomplete="off"
                                           placeholder="Re-Password" ng-minlength="8" ng-maxlength="20"
                                           ng-model="new_user.upassword2" required ng-pattern="regexs.password">
                                </div>
                                <div class="col-sm-1">
                                    <p class="text-danger" ng-if="(register.txtRePassword.$dirty || register.txtPassword.$dirty) && (register.txtRePassword.$invalid && !validPassword())">*</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-sm-8">
                                    <div class="checkbox">
                                        <label>
                                            <input name="aggrement" type="checkbox"
                                                   ng-model="aggrement">I'v read and agreed on Conditions</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions">
                                <div class="col-md-offset-5 col-md-10 form-actions">
                                    <a href="#/login.html" class="btn btn-danger">Cancel</a>
                                    <button type="submit" ng-click="submitUser()" class="btn btn-black"
                                            ng-disabled="(!aggrement || !validPassword() || register.$invalid || isPosting)">
                                        Register</button>
                                    <img ng-if="isPosting" src="images/ajax-loader.gif" height="32" width="32"/>
                                </div>
                            </div>
                        </form>
                        <!-- Registration Form Ends -->
                    </div>
                </div>
                <!-- Registration Block Ends -->
            </div>
            <div class="col-md-offset-1 col-md-10">
                <div uib-alert ng-repeat="err in errors" class="alert-danger" close="closeAlert($index)">{{err}}</div>
            </div>
            <div class="col-md-offset-1 col-md-10">
                <!-- Conditions Panel Starts -->
                <div class="panel panel-smart">
                    <div class="panel-heading">
                        <h3 class="panel-title">Conditions</h3>
                    </div>
                    <div class="panel-body">
                        <!-- Registration Form Starts -->
                        <p>CoquiGames is a project developed for the ICOM5016 course (DB Systems)
                            at the Univenrsity of Puerto Rico, Mayaguez Campus.</p>
                        <p>CoquiGames does not own any games/platforms/accesories art.</p>
                        <p>We do own the logo :)</p>
                        <img src="images/logo.png" title="CoquiGamesLogo" alt="CoquiGamesLogo" class="img-responsive">
                        <br>
                        <p>This web store does not contain any inventory.</p>
                        <p>Purchase will be register but no transactioned.</p>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="hidden">{{register.$invalid}}</div>
<!-- Registration Section Ends -->
<!-- Main Container Ends -->