<!-- Header Section Ends -->
<!-- Main Container Starts -->
<div id="main-container" class="container">
    <!-- Breadcrumb Starts -->
    <ol class="breadcrumb">
        <li>
            <a href="index.html">Home</a>
        </li>
        <li class="active">Register</li>
    </ol>
    <!-- Breadcrumb Ends -->
    <!-- Main Heading Starts -->
    <h2 class="main-heading text-center">Register
        <br>
        <span>Create New Account</span>
    </h2>
    <!-- Main Heading Ends -->
    <!-- Registration Section Starts -->
    <section class="registration-area">
        <div class="row">
            <div class="col-sm-6">
                <!-- Registration Block Starts -->
                <div class="panel panel-smart">
                    <div class="panel-heading">
                        <h3 class="panel-title">Personal Information</h3>
                    </div>
                    <div class="panel-body">
                        <!-- Registration Form Starts -->
                        <form class="form-horizontal" role="form">
                            <!-- Personal Information Starts -->
                            <div class="form-group">
                                <label for="txtFname" class="col-sm-3 control-label">First Name :</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="txtFname" placeholder="First Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txtLname" class="col-sm-3 control-label">Last Name :</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="txtLname" placeholder="Last Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txtDateOfBirth" class="col-sm-3 control-label">Date of Birth :</label>
                                <div class="col-sm-9">
                                    <input type="date" class="form-control" id="txtDateOfBirth" placeholder="Date of Birth">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txtEmail" class="col-sm-3 control-label">Email :</label>
                                <div class="col-sm-9">
                                    <input type="email" class="form-control" id="txtEmail" placeholder="Email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txtPhone" class="col-sm-3 control-label">Phone :</label>
                                <div class="col-sm-9">
                                    <input type="tel" pattern="^(\d{4}\-\d{2}\-\d{2})$" class="form-control" id="txtPhone" placeholder="Phone">
                                </div>
                            </div>
                            <!-- Personal Information Ends -->
                            <h3 class="panel-heading inner">Shipping Address</h3>
                            <!-- Delivery Information Starts -->
                            <div class="form-group">
                                <label for="txtSAddFname" class="col-sm-3 control-label">Full Name :</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="txtSAddFname" placeholder="Full Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txtSAddress1" class="col-sm-3 control-label">Address/1 :</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="txtSAddress1" placeholder="Address/1">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txtSAddress2" class="col-sm-3 control-label">Address/2 :</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="txtSAddress2" placeholder="Address/2">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txtSCity" class="col-sm-3 control-label">City :</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="txtSCity" placeholder="City">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txtSPostCode" class="col-sm-3 control-label">Zip :</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="txtSPostCode" placeholder="Postal Code">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="drpSState" class="col-sm-3 control-label">State :</label>
                                <div class="col-sm-9">
                                    <select class="form-control" id="drpSState" autocomplete="on">
                                        <option value="">State</option>
                                        <option value="PR">PR</option>
                                        <option value="AK">AK</option>
                                        <option value="AL">AL</option>
                                        <option value="AR">AR</option>
                                        <option value="AZ">AZ</option>
                                        <option value="CA">CA</option>
                                        <option value="CO">CO</option>
                                        <option value="CT">CT</option>
                                        <option value="DC">DC</option>
                                        <option value="DE">DE</option>
                                        <option value="FL">FL</option>
                                        <option value="GA">GA</option>
                                        <option value="HI">HI</option>
                                        <option value="IA">IA</option>
                                        <option value="ID">ID</option>
                                        <option value="IL">IL</option>
                                        <option value="IN">IN</option>
                                        <option value="KS">KS</option>
                                        <option value="KY">KY</option>
                                        <option value="LA">LA</option>
                                        <option value="MA">MA</option>
                                        <option value="MD">MD</option>
                                        <option value="ME">ME</option>
                                        <option value="MI">MI</option>
                                        <option value="MN">MN</option>
                                        <option value="MO">MO</option>
                                        <option value="MS">MS</option>
                                        <option value="MT">MT</option>
                                        <option value="NC">NC</option>
                                        <option value="ND">ND</option>
                                        <option value="NE">NE</option>
                                        <option value="NH">NH</option>
                                        <option value="NJ">NJ</option>
                                        <option value="NM">NM</option>
                                        <option value="NV">NV</option>
                                        <option value="NY">NY</option>
                                        <option value="OH">OH</option>
                                        <option value="OK">OK</option>
                                        <option value="OR">OR</option>
                                        <option value="PA">PA</option>
                                        <option value="RI">RI</option>
                                        <option value="SC">SC</option>
                                        <option value="SD">SD</option>
                                        <option value="TN">TN</option>
                                        <option value="TX">TX</option>
                                        <option value="UT">UT</option>
                                        <option value="VA">VA</option>
                                        <option value="VT">VT</option>
                                        <option value="WA">WA</option>
                                        <option value="WI">WI</option>
                                        <option value="WV">WV</option>
                                        <option value="WY">WY</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="drpSCountry" class="col-sm-3 control-label">Country :</label>
                                <div class="col-sm-9">
                                    <select class="form-control" id="drpSCountry" autocomplete="on">
                                        <option value="USA">USA</option>
                                    </select>
                                </div>
                            </div>
                            <!-- Delivery Information Ends -->
                            <h3 class="panel-heading inner">Billing Address</h3>
                            <!-- Billing Information Starts -->
                            <div class="form-group">
                                <label for="txtBAddFname" class="col-sm-3 control-label">Full Name :</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="txtBAddFname" placeholder="Full Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txtBAddress1" class="col-sm-3 control-label">Address/1 :</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="txtBAddress1" placeholder="Address/1">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txtBAddress2" class="col-sm-3 control-label">Address/2 :</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="txtBAddress2" placeholder="Address/2">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txtBCity" class="col-sm-3 control-label">City :</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="txtBCity" placeholder="City">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txtBPostCode" class="col-sm-3 control-label">Zip :</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="txtBPostCode" placeholder="Postal Code">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="drpBState" class="col-sm-3 control-label">State :</label>
                                <div class="col-sm-9">
                                    <select class="form-control" id="drpBState" autocomplete="on">
                                        <option value="">State</option>
                                        <option value="PR">PR</option>
                                        <option value="AK">AK</option>
                                        <option value="AL">AL</option>
                                        <option value="AR">AR</option>
                                        <option value="AZ">AZ</option>
                                        <option value="CA">CA</option>
                                        <option value="CO">CO</option>
                                        <option value="CT">CT</option>
                                        <option value="DC">DC</option>
                                        <option value="DE">DE</option>
                                        <option value="FL">FL</option>
                                        <option value="GA">GA</option>
                                        <option value="HI">HI</option>
                                        <option value="IA">IA</option>
                                        <option value="ID">ID</option>
                                        <option value="IL">IL</option>
                                        <option value="IN">IN</option>
                                        <option value="KS">KS</option>
                                        <option value="KY">KY</option>
                                        <option value="LA">LA</option>
                                        <option value="MA">MA</option>
                                        <option value="MD">MD</option>
                                        <option value="ME">ME</option>
                                        <option value="MI">MI</option>
                                        <option value="MN">MN</option>
                                        <option value="MO">MO</option>
                                        <option value="MS">MS</option>
                                        <option value="MT">MT</option>
                                        <option value="NC">NC</option>
                                        <option value="ND">ND</option>
                                        <option value="NE">NE</option>
                                        <option value="NH">NH</option>
                                        <option value="NJ">NJ</option>
                                        <option value="NM">NM</option>
                                        <option value="NV">NV</option>
                                        <option value="NY">NY</option>
                                        <option value="OH">OH</option>
                                        <option value="OK">OK</option>
                                        <option value="OR">OR</option>
                                        <option value="PA">PA</option>
                                        <option value="RI">RI</option>
                                        <option value="SC">SC</option>
                                        <option value="SD">SD</option>
                                        <option value="TN">TN</option>
                                        <option value="TX">TX</option>
                                        <option value="UT">UT</option>
                                        <option value="VA">VA</option>
                                        <option value="VT">VT</option>
                                        <option value="WA">WA</option>
                                        <option value="WI">WI</option>
                                        <option value="WV">WV</option>
                                        <option value="WY">WY</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="drpBCountry" class="col-sm-3 control-label">Country :</label>
                                <div class="col-sm-9">
                                    <select class="form-control" id="drpBCountry" autocomplete="on">
                                        <option value="USA">USA</option>
                                    </select>
                                </div>
                            </div>
                            <!-- Billing Information Ends -->
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <button type="submit" class="btn btn-black">Same As Shipping Address</button>
                                </div>
                            </div>
                        </form>
                        <!-- Registration Form Starts -->
                    </div>
                </div>
                <!-- Registration Block Ends -->
            </div>
            <div class="col-sm-6">
                <!-- Conditions Panel Starts -->
                <div class="panel panel-smart">
                    <div class="panel-heading">
                        <h3 class="panel-title">Conditions</h3>
                    </div>
                    <div class="panel-body">
                        <!-- Registration Form Starts -->
                        <p>CoquiGames is a project developed for the ICOM5016 course (DB Systems)
                            at the Univenrsity of Puerto Rico, Mayaguez Campus.</p>
                        <p>CoquiGames does not own any games/platforms/accesories art.</p>
                        <p>We do own the logo :)</p>
                        <img src="images/logo.png" title="CoquiGamesLogo" alt="CoquiGamesLogo" class="img-responsive">
                        <br>
                        <p>This web store does not contain any inventory.</p>
                        <p>Purchase will be register but no transactioned.</p>
                        <br>
                        <h3 class="panel-heading inner">Credit Card</h3>
                        <form class="form-horizontal" role="form">
                            <!-- Credit Carg Information Starts -->
                            <div class="form-group">
                                <label for="txtAddress1" class="col-sm-3 control-label">Name on Card:</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="txtAddress1" placeholder="Name on Card">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txtAddress2" class="col-sm-3 control-label">Card Number:</label>
                                <div class="col-sm-9">
                                    <input type='number' pattern="[0-9]{13,16}" autocomplete="on" maxlength="16" class="form-control" id="txtAddress2" placeholder="Card Number">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="drpCardNumber" class="col-sm-3 control-label">Expiration Date :</label>
                                <div class="col-sm-3">
                                    <select class="form-control" autocomplete="on" id="drpCardNumber">
                                        <option value=''>Month</option>
                                        <option value='01'>Janaury</option>
                                        <option value='02'>February</option>
                                        <option value='03'>March</option>
                                        <option value='04'>April</option>
                                        <option value='05'>May</option>
                                        <option value='06'>June</option>
                                        <option value='07'>July</option>
                                        <option value='08'>August</option>
                                        <option value='09'>September</option>
                                        <option value='10'>October</option>
                                        <option value='11'>November</option>
                                        <option value='12'>December</option>
                                    </select>
                                </div>
                                <div class="col-sm-6">
                                    <select class="form-control" autocomplete="on" id="drpCardYear">
                                        <option value=''>Year</option>
                                        <option value='2016'>2016</option>
                                        <option value='2016'>2017</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txtCVC" class="col-sm-3 control-label">CVC :</label>
                                <div class="col-sm-9">
                                    <input type="number" pattern="[0-9]{3}" autocomplete="off" maxlength="3" class="form-control" id="txtCVC" placeholder="CVC">
                                </div>
                            </div>
                            <br>
                            <!-- Credit Card Information Ends -->
                            <h3 class="panel-heading inner">Account Information</h3>
                            <!-- Password Area Starts -->
                            <div class="form-group">
                                <label for="txtUname" class="col-sm-3 control-label">Username:</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="txtUname" placeholder="Username">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txtPassword" class="col-sm-3 control-label">Password :</label>
                                <div class="col-sm-9">
                                    <input type="password" class="form-control" id="txtPassword" autocomplete="off" placeholder="Password">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txtRePassword" class="col-sm-3 control-label">Re-Password :</label>
                                <div class="col-sm-9">
                                    <input type="password" class="form-control" id="txtRePassword" autocomplete="off" placeholder="Re-Password">
                                </div>
                            </div>
                            <div class="form-group">
                                <span class="col-sm-3 control-label">Newsletter :</span>
                                <div class="col-sm-9">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">Subscribe</label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option1">Unsubscribe</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox">I'v read and agreed on Conditions</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <button type="submit" class="btn btn-black">Register</button>
                                </div>
                            </div>
                            <!-- Password Area Ends -->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- Registration Section Ends -->
<!-- Main Container Ends -->