<!-- Main Container Starts -->
	<div id="main-container" class="container">
	<!-- Breadcrumb Starts -->
		<ol class="breadcrumb">
			<li><a href="index.html">Home</a></li>
			<li class="active">Wish List</li>
		</ol>
	<!-- Breadcrumb Ends -->
	<!-- Main Heading Starts -->
		<h2 class="main-heading text-center">
			Wish List
		</h2>
	<!-- Main Heading Ends -->
	<!-- Wish List Cart Table Starts -->
		<div class="table-responsive shopping-cart-table">
			<table class="table table-bordered">
				<thead>
					<tr>
						<td class="text-center">
							Image
						</td>
						<td class="text-center">
							Product Details
						</td>
						<td class="text-center">
							Price
						</td>
						<td class="text-center">
							Action
						</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="text-center">
							<a href="product.html">
								<img src="images/product-images/cart-thumb-img1.jpg" alt="Product Name" title="Product Name" class="img-thumbnail" />
							</a>
						</td>
						<td class="text-center">
							<a href="product-full.html">Digital Electro Goods</a>
						</td>
						<td class="text-center">
							$150.00
						</td>
						<td class="text-center">
							<button type="submit" title="Update" class="btn btn-default tool-tip">
								<i class="fa fa-refresh"></i>
							</button>
							<button type="button" title="Remove" class="btn btn-default tool-tip">
								<i class="fa fa-times-circle"></i>
							</button>
						</td>
					</tr>
					<tr>
						<td class="text-center">
							<a href="product.html">
								<img src="images/product-images/cart-thumb-img2.jpg" alt="Product Name" title="Product Name" class="img-thumbnail" />
							</a>
						</td>
						<td class="text-center">
							<a href="product-full.html">Digital Electro Goods</a>
						</td>
						<td class="text-center">
							$150.00
						</td>
						<td class="text-center">
							<button type="submit" title="Update" class="btn btn-default tool-tip">
								<i class="fa fa-refresh"></i>
							</button>
							<button type="button" title="Remove" class="btn btn-default tool-tip">
								<i class="fa fa-times-circle"></i>
							</button>
						</td>
					</tr>						
				</tbody>
			</table>				
		</div>

		<!-- Inser deleted code here -->

	
	<!-- Shipping Section Ends -->
	</div>
<!-- Main Container Ends -->
