<div class="popeye-modal-container">
    <div class="popeye-modal modal-content">
        <div class="modal-header">
            <a class="popeye-close-modal" href ng-click="cancel()"></a>
            <h4 class="modal-title">Add Product</h4>
        </div>
        <div class="modal-dialog">
            <div class="modal-body">
                <form role="form" name="productForm">
                    <!-- Product Information Starts -->
                    <div class="row">
                        <label class="col-sm-3 control-label">Title :</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="txtTitle"
                                   ng-model="selectedProduct.title" placeholder="Title"
                                   ng-pattern="patterns.bigText" required>
                        </div>
                        <div class="col-sm-1">
                            <img  ng-if="productForm.txtTitle.$dirty && productForm.txtTitle.$invalid"
                                  src="images/invalid.png" width="16" height="16"/>
                            <img  ng-if="productForm.txtTitle.$dirty && productForm.txtTitle.$valid"
                                  src="images/valid.png" width="16" height="16"/>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <label class="col-sm-3 control-label">Release Date :</label>
                        <div class="col-sm-8">
                            <input type="text" datetime="yyyy-MM-dd" class="form-control"
                                   name="txtReleaseDate" ng-model="selectedProduct.release"
                                   placeholder="yyyy-MM-dd" ng-pattern="patterns.date" required>
                        </div>
                        <div class="col-sm-1">
                            <img  ng-if="productForm.txtReleaseDate.$dirty && productForm.txtReleaseDate.$invalid"
                                  src="images/invalid.png" width="16" height="16"/>
                            <img  ng-if="productForm.txtReleaseDate.$dirty && productForm.txtReleaseDate.$valid"
                                  src="images/valid.png" width="16" height="16"/>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <label class="col-sm-3 control-label">Product Price :</label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" name="txtProductPrice"
                                   ng-model="selectedProduct.price" placeholder="Product Price"
                                   min="1" required>
                        </div>
                        <div class="col-sm-1">
                            <img  ng-if="productForm.txtProductPrice.$dirty && productForm.txtProductPrice.$invalid"
                                  src="images/invalid.png" width="16" height="16"/>
                            <img  ng-if="productForm.txtProductPrice.$dirty && productForm.txtProductPrice.$valid"
                                  src="images/valid.png" width="16" height="16"/>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <label class="col-sm-3 control-label">Product Description :</label>
                        <div class="col-sm-8">
                            <textarea cols="50" rows="4" name="txtDescription" ng-model="selectedProduct.description"
                                      placeholder="Product Description" required ng-pattern="patterns.bigText">
                            </textarea>
                        </div>
                        <div class="col-sm-1">
                            <img  ng-if="productForm.txtDescription.$dirty && productForm.txtDescription.$invalid"
                                  src="images/invalid.png" width="16" height="16"/>
                            <img  ng-if="productForm.txtDescription.$dirty && productForm.txtDescription.$valid"
                                  src="images/valid.png" width="16" height="16"/>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <label class="col-sm-3 control-label">Additional Info :</label>
                        <div class="col-sm-8">
                            <textarea cols="50" rows="4" name="txtAdditional"
                                      ng-model="selectedProduct.aditionalinfo"
                                      placeholder="Additional Info" required ng-pattern="patterns.bigText">
                            </textarea>
                        </div>
                        <div class="col-sm-1">
                            <img  ng-if="productForm.txtAdditional.$dirty && productForm.txtAdditional.$invalid"
                                  src="images/invalid.png" width="16" height="16"/>
                            <img  ng-if="productForm.txtAdditional.$dirty && productForm.txtAdditional.$valid"
                                  src="images/valid.png" width="16" height="16"/>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <label class="col-sm-3 control-label">Photolink :</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="txtphoto"
                                   ng-model="selectedProduct.photolink"
                                   placeholder="PhotoLink" disabled required ng-pattern="patterns.url">
                        </div>
                        <div class="col-sm-1">
                            <img  ng-if="productForm.txtphoto.$dirty && productForm.txtphoto.$invalid"
                                  src="images/invalid.png" width="16" height="16"/>
                            <img  ng-if="productForm.txtphoto.$dirty && productForm.txtphoto.$valid"
                                  src="images/valid.png" width="16" height="16"/>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-offset-3 col-sm-3">
                            <button class="btn btn-info" ngf-select="uploadFiles($files)"
                                    multiple title="upload" resetOnClick="true"
                                    ng-disabled="!selectedProduct.title || selectedProduct.photolink">Upload Cover</button>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="row" ng-repeat="file in files">
                        <div class="col-sm-offset-3 col-sm-8">
                            <label>{{file.name}} {{f.$error}} {{f.$errorParam}}</label>
                            <div class="status">{{file.status}}</div>
                            <div class="progress-bar">
                                <div class="progress" style="width: {{file.progress}}%" ng-init="progress=0"></div>
                            </div>
                            <br>
                            <div class="col-sm-8">
                                <img ngf-src="file.result.url || file" width="300" height="300">
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <label class="col-sm-3 control-label">Quantity :</label>
                        <div class="col-sm-8">
                            <input name="txtProductqty" class="form-control" type="number"
                                   ng-model="selectedProduct.productqty" min="1" required>
                        </div>
                        <div class="col-sm-1">
                            <img  ng-if="productForm.txtProductqty.$dirty && productForm.txtProductqty.$invalid"
                                  src="images/invalid.png" width="16" height="16"/>
                            <img  ng-if="productForm.txtProductqty.$dirty && productForm.txtProductqty.$valid"
                                  src="images/valid.png" width="16" height="16"/>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <label class="col-sm-3 control-label">Active :</label>
                        <div class="col-sm-8">
                            <input name="txtActive" type="checkbox" ng-model="selectedProduct.active">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <label class="col-sm-3 control-label">In Offer :</label>
                        <div class="col-sm-8">
                            <input name="txtInOffer" type="checkbox" ng-model="selectedProduct.inoffer">
                            <br>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <label class="col-sm-3 control-label">Offer Start Date :</label>
                        <div class="col-sm-8">
                            <input name="txtOfferStart" class="form-control"
                                   type="text" datetime="yyyy-MM-dd"
                                   ng-model="selectedProduct.offer_start_date" placeholder="yyyy-MM-dd"
                                   ng-required="selectedProduct.inoffer" ng-pattern="patterns.date">
                        </div>
                        <div class="col-sm-1">
                            <img  ng-if="productForm.txtOfferStart.$dirty && productForm.txtOfferStart.$invalid"
                                  src="images/invalid.png" width="16" height="16"/>
                            <img  ng-if="productForm.txtOfferStart.$dirty && productForm.txtOfferStart.$valid"
                                  src="images/valid.png" width="16" height="16"/>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <label class="col-sm-3 control-label">Offer End Date :</label>
                        <div class="col-sm-8">
                            <input name="txtOfferEnd" type="text" class="form-control" datetime="yyyy-MM-dd"
                                   ng-model="selectedProduct.offer_end_date" placeholder="yyyy-MM-dd"
                                   ng-required="selectedProduct.inoffer" ng-pattern="patterns.date">
                        </div>
                        <div class="col-sm-1">
                            <img  ng-if="productForm.txtOfferEnd.$dirty && productForm.txtOfferEnd.$invalid"
                                  src="images/invalid.png" width="16" height="16"/>
                            <img  ng-if="productForm.txtOfferEnd.$dirty && productForm.txtOfferEnd.$valid"
                                  src="images/valid.png" width="16" height="16"/>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <label class="col-sm-3 control-label">Offer Price :</label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" name="txtOfferPrice" min="1"
                                   ng-model="selectedProduct.offerprice" placeholder="Offer Price"
                                   ng-required="selectedProduct.inoffer">
                        </div>
                        <div class="col-sm-1">
                            <img  ng-if="productForm.txtOfferPrice.$dirty && productForm.txtOfferPrice.$invalid"
                                  src="images/invalid.png" width="16" height="16"/>
                            <img  ng-if="productForm.txtOfferPrice.$dirty && productForm.txtOfferPrice.$valid"
                                  src="images/valid.png" width="16" height="16"/>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <label class="col-sm-3 control-label">Platform :</label>
                        <div class="col-sm-8">
                            <select class="form-control" autocomplete="on"
                                    ng-model="selectedProduct.platformid" required
                                    ng-options="platform.platformid as platform.platform for platform in platforms">
                            </select>
                            <br>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <label class="col-sm-3 control-label">Category :</label>
                        <div class="col-sm-8">
                            <select required class="form-control" autocomplete="on" ng-model="selectedProduct.category"
                                    ng-options="category.category as category.category for category in categories">
                            </select>
                            <br>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <label class="col-sm-3 control-label">Genre :</label>
                        <div class="col-sm-8">
                            <select required class="form-control" autocomplete="on" ng-model="selectedProduct.genre"
                                    ng-options="genre.genre as genre.genre for genre in genres">
                            </select>
                            <br>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <label class="col-sm-3 control-label">ESRB Rating :</label>
                        <div class="col-sm-8">
                            <select required class="form-control" autocomplete="on" ng-model="selectedProduct.esrb"
                                    ng-options="esrb.esrb_rate as esrb.esrb_rate for esrb in ratings">
                            </select>
                        </div>
                    </div>
                    <!-- Product Information ends -->
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" ng-click="cancel()">Cancel</button>
            <button type="button" class="btn btn-black" ng-disabled="productForm.$invalid" ng-click="submit()">Add</button>
        </div>
    </div>
</div>
