<div class="popeye-modal-container">
    <div class="popeye-modal modal-content">
        <div class="modal-header">
            <a class="popeye-close-modal" href ng-click="cancel()"></a>
            <h4 class="modal-title">ADD {{selectedAddress.atype | uppercase}} ADDRESS</h4>
        </div>
        <div class="modal-dialog">
            <div class="modal-body">
                <form role="form" name="addAddress">
                    <!-- Delivery Information Starts -->
                    <div class="row">
                        <label class="col-sm-3 control-label">Full Name :</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="txtSAddFname" placeholder="Full Name"
                                   ng-model="selectedAddress.afullname" required ng-pattern="patterns.bigText">
                        </div>
                        <div class="col-sm-1">
                            <img  ng-if="addAddress.txtSAddFname.$dirty && addAddress.txtSAddFname.$invalid"
                                  src="images/invalid.png" width="16" height="16"/>
                            <img  ng-if="addAddress.txtSAddFname.$dirty && addAddress.txtSAddFname.$valid"
                                  src="images/valid.png" width="16" height="16"/>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-3 control-label">Address/1 :</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="txtSAddress1" placeholder="Address/1"
                                   ng-model="selectedAddress.aaddress1" required ng-pattern="patterns.bigText">
                        </div>
                        <div class="col-sm-1">
                            <img  ng-if="addAddress.txtSAddress1.$dirty && addAddress.txtSAddress1.$invalid"
                                  src="images/invalid.png" width="16" height="16"/>
                            <img  ng-if="addAddress.txtSAddress1.$dirty && addAddress.txtSAddress1.$valid"
                                  src="images/valid.png" width="16" height="16"/>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-3 control-label">Address/2 :</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="txtSAddress2" placeholder="Address/2"
                                   ng-model="selectedAddress.aaddress2" required ng-pattern="patterns.bigText">
                        </div>
                        <div class="col-sm-1">
                            <img  ng-if="addAddress.txtSAddress2.$dirty && addAddress.txtSAddress2.$invalid"
                                  src="images/invalid.png" width="16" height="16"/>
                            <img  ng-if="addAddress.txtSAddress2.$dirty && addAddress.txtSAddress2.$valid"
                                  src="images/valid.png" width="16" height="16"/>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-3 control-label">City :</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="txtSCity" placeholder="City"
                                   ng-model="selectedAddress.acity" required ng-pattern="patterns.bigText">
                        </div>
                        <div class="col-sm-1">
                            <img  ng-if="addAddress.txtSCity.$dirty && addAddress.txtSCity.$invalid"
                                  src="images/invalid.png" width="16" height="16"/>
                            <img  ng-if="addAddress.txtSCity.$dirty && addAddress.txtSCity.$valid"
                                  src="images/valid.png" width="16" height="16"/>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-3 control-label">Zip :</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="txtSPostCode" placeholder="Postal Code"
                                   ng-model="selectedAddress.azip" required ng-pattern="patterns.postal">
                        </div>
                        <div class="col-sm-1">
                            <img  ng-if="addAddress.txtSPostCode.$dirty && addAddress.txtSPostCode.$invalid"
                                  src="images/invalid.png" width="16" height="16"/>
                            <img  ng-if="addAddress.txtSPostCode.$dirty && addAddress.txtSPostCode.$valid"
                                  src="images/valid.png" width="16" height="16"/>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-3 control-label">State :</label>
                        <div class="col-sm-8">
                            <select class="form-control" name="drpSState" autocomplete="on"
                                    ng-model="selectedAddress.astate" required>
                                <option value="">State</option>
                                <option value="PR">PR</option>
                                <option value="AK">AK</option>
                                <option value="AL">AL</option>
                                <option value="AR">AR</option>
                                <option value="AZ">AZ</option>
                                <option value="CA">CA</option>
                                <option value="CO">CO</option>
                                <option value="CT">CT</option>
                                <option value="DC">DC</option>
                                <option value="DE">DE</option>
                                <option value="FL">FL</option>
                                <option value="GA">GA</option>
                                <option value="HI">HI</option>
                                <option value="IA">IA</option>
                                <option value="ID">ID</option>
                                <option value="IL">IL</option>
                                <option value="IN">IN</option>
                                <option value="KS">KS</option>
                                <option value="KY">KY</option>
                                <option value="LA">LA</option>
                                <option value="MA">MA</option>
                                <option value="MD">MD</option>
                                <option value="ME">ME</option>
                                <option value="MI">MI</option>
                                <option value="MN">MN</option>
                                <option value="MO">MO</option>
                                <option value="MS">MS</option>
                                <option value="MT">MT</option>
                                <option value="NC">NC</option>
                                <option value="ND">ND</option>
                                <option value="NE">NE</option>
                                <option value="NH">NH</option>
                                <option value="NJ">NJ</option>
                                <option value="NM">NM</option>
                                <option value="NV">NV</option>
                                <option value="NY">NY</option>
                                <option value="OH">OH</option>
                                <option value="OK">OK</option>
                                <option value="OR">OR</option>
                                <option value="PA">PA</option>
                                <option value="RI">RI</option>
                                <option value="SC">SC</option>
                                <option value="SD">SD</option>
                                <option value="TN">TN</option>
                                <option value="TX">TX</option>
                                <option value="UT">UT</option>
                                <option value="VA">VA</option>
                                <option value="VT">VT</option>
                                <option value="WA">WA</option>
                                <option value="WI">WI</option>
                                <option value="WV">WV</option>
                                <option value="WY">WY</option>
                            </select>
                        </div>
                        <div class="col-sm-1">
                            <img  ng-if="addAddress.drpSState.$dirty && addAddress.drpSState.$error.required"
                                  src="images/invalid.png" width="16" height="16"/>
                            <img  ng-if="addAddress.drpSState.$dirty && !addAddress.drpSState.$error.required"
                                  src="images/valid.png" width="16" height="16"/>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-3 control-label">Country :</label>
                        <div class="col-sm-8">
                            <select class="form-control" name="drpSCountry" autocomplete="on"
                                    ng-model="selectedAddress.acountry" required>
                                <option value="USA">USA</option>
                            </select>
                        </div>
                        <div class="col-sm-1">
                            <img  ng-if="addAddress.drpSCountry.$dirty && addAddress.drpSCountry.$error.required"
                                  src="images/invalid.png" width="16" height="16"/>
                            <img  ng-if="addAddress.drpSCountry.$dirty && !addAddress.drpSCountry.$error.required"
                                  src="images/valid.png" width="16" height="16"/>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-3 control-label">Set as Preferred :</label>
                        <div class="col-sm-8">
                            <input name="Preferred" type="checkbox" ng-model="selectedAddress.apreferred">
                        </div>
                    </div>
                    <!-- Delivery Information Ends -->
                    <!-- Payment Dropdown  Starts-->
                    <div class="row">
                        <label class="col-sm-3 control-label">Payment Method:</label>
                        <span class="col-sm-8" uib-dropdown on-toggle="toggled(open)" required>
                        <a href name="simple-dropdown" uib-dropdown-toggle>{{(selectedAddress.pid == 0) ? 'Please Select a Payment': 'Card Ending in ' + selectedAddress.cnumber}}</a>
                        <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                            <li role="menuitem" ng-repeat="pay in userPayments">
                                <a ng-click="setPayment(pay)">
                                    <img ng-if="pay.ctype=='Visa'" src="images/payment-icon/visa.png" alt="PaymentGateway">
                                    <img ng-if="pay.ctype=='Master Card'" src="images/payment-icon/mastercard.png" alt="PaymentGateway">
                                    <img ng-if="pay.ctype=='American Express'" src="images/payment-icon/americanexpress.png" alt="PaymentGateway">
                                    <b>Ending in {{pay.cnumber}}</b>
                                </a>
                            </li>
                        </ul>
                    </span>
                    </div>
                    <!-- Payment Dropdown  Ends-->
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" ng-click="cancel()">Cancel</button>
            <button type="button" class="btn btn-black" ng-disabled="addAddress.$invalid && !cardSelected()" ng-click="close()">Done</button>
        </div>
    </div>
</div>
