<div class="popeye-modal-container">
    <div class="popeye-modal modal-content">
        <div class="modal-header">
            <a class="popeye-close-modal" href ng-click="cancel()"></a>
            <h4 class="modal-title">Add New Administrator</h4>
        </div>
        <div class="modal-dialog">
            <div class="modal-body">
                <!-- Personal Information Starts -->
                <form class="horizontal" role="form" name="registerAdmin" novalidate>
                <h3 class="panel-inner">Personal Information</h3>
                <br>
                <div class="row">
                    <label class="col-sm-3 control-label">First Name :</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="txtFname" placeholder="First Name" ng-model="selectedAdmin.ufirstname"
                               ng-minlength="1" ng-maxlength="255"
                               required ng-pattern="regex.bigText">
                        <br>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-3 control-label">Last Name :</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="txtLname" placeholder="Last Name" ng-model="selectedAdmin.ulastname"
                               ng-minlength="1" ng-maxlength="255"
                               required ng-pattern="regex.bigText">
                        <br>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-3 control-label">Date of Birth :</label>
                    <div class="col-sm-9">
                        <input type="date" class="form-control" name="txtDateOfBirth" placeholder="Date of Birth" ng-model="selectedAdmin.udob">
                        <br>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-3 control-label">Email :</label>
                    <div class="col-sm-9">
                        <input type="email" class="form-control" name="txtEmail" placeholder="Email" ng-model="selectedAdmin.uemail"
                               ng-minlength="1" ng-maxlength="255"
                               required ng-pattern="regex.email">
                        <br>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-3 control-label">Phone :</label>
                    <div class="col-sm-9">
                        <input type="tel" class="form-control" name="txtPhone" placeholder="Phone" ng-model="selectedAdmin.uphone"
                               required ng-pattern="regex.phone"
                               ng-maxlength="15">
                        <br>
                    </div>
                </div>
                <!-- Personal Information Ends -->
                <h3 class="panel-inner">Account Information</h3>
                <br>
                <!--Username & Password begins -->
                <div class="row">
                    <label class="col-sm-3 control-label">Username:</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="txtUname" placeholder="Username" ng-model="selectedAdmin.uname"
                               ng-minlength="4" ng-maxlength="20"
                               required ng-pattern="regex.userName">
                        <br>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-3 control-label">Password :</label>
                    <div class="col-sm-9">
                        <input autocomplete="off" type="password" class="form-control" name="txtPassword" autocomplete="off" placeholder="Password"
                               ng-model="selectedAdmin.upassword"
                               required ng-pattern="regexs.password"
                               ng-minlength="8" ng-maxlength="20">
                        <br>
                    </div>
                    <div class="col-sm-1">
                        <img ng-if="(registerAdmin.txtRePassword.$dirty || registerAdmin.txtPassword.$dirty) && (registerAdmin.txtPassword.$invalid && !validAdminPassword())"
                             src="images/invalid.png" width="16" height="16"/>
                        <img ng-if="(registerAdmin.txtRePassword.$dirty || registerAdmin.txtPassword.$dirty) && (registerAdmin.txtPassword.$valid && validAdminPassword())"
                             src="images/valid.png" width="16" height="16"/>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-3 control-label">Re-Password :</label>
                    <div class="col-sm-9">
                        <input autocomplete="off" required ng-pattern="regexs.password" type="password" class="form-control" name="txtRePassword" autocomplete="off" placeholder="Re-Password"
                               ng-minlength="8" ng-maxlength="20"
                               ng-model="selectedAdmin.upassword2">
                        <br>
                    </div>
                    <div class="col-sm-1">
                        <img ng-if="(registerAdmin.txtRePassword.$dirty || registerAdmin.txtPassword.$dirty) && (registerAdmin.txtRePassword.$invalid && !validAdminPassword())"
                             src="images/invalid.png" width="16" height="16"/>
                        <img ng-if="(registerAdmin.txtRePassword.$dirty || registerAdmin.txtPassword.$dirty) && (registerAdmin.txtRePassword.$valid && validAdminPassword())"
                             src="images/valid.png" width="16" height="16"/>
                    </div>
                </div>
                    <div class="row">
                        <label for="txtActive" class="col-sm-3 control-label">Active :</label>
                        <div class="col-sm-9">
                            <input id="txtActive" type="checkbox" ng-model="selectedAdmin.active">
                            <br>
                            <br>
                        </div>
                    </div>
                <!-- Username & password ends -->
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" ng-click="cancel()">Cancel</button>
            <button type="button" class="btn btn-black" ng-click="submit()">Add</button>
        </div>
    </div>
</div>
