<div class="popeye-modal-container">
    <div class="popeye-modal modal-content">
        <div class="modal-header">
            <a class="popeye-close-modal" href ng-click="cancel()"></a>
            <h4 class="modal-title">Select Shipping Address</h4>
        </div>
        <div class="modal-dialog">
            <div class="modal-body">
                <form name="Form" novalidate>
                    <div ng-repeat="address in userShippingAddress">
                        <label>
                            <input type="radio" name="radioAddress" ng-model="selection.address" ng-value="address"/>{{address.afullname}}
                        </label>
                        <b></b> {{address.aaddress1}}
                        {{address.aaddress2}}, {{address.acity}},
                        {{address.astate}}, {{address.azip}}, {{address.acountry}}
                        <a href="#/account-address" ng-click="cancel()">Edit</a>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" ng-click="cancel()">Cancel</button>
            <button type="button" class="btn btn-black" ng-click="submit()">Submit</button>
        </div>
    </div>
</div>

