<div class="popeye-modal-container">
    <div class="popeye-modal modal-content">
        <div class="modal-header">
            <a class="popeye-close-modal" href ng-click="cancel()"></a>
            <h4 class="modal-title">Change Password</h4>
        </div>
        <div class="modal-dialog">
            <div class="modal-body">
                <form role="form" name="changePassword" novalidate>
                    <!-- Password Area Starts -->
                    <div class="row">
                        <label class="col-sm-2 control-label">Password :</label>
                        <div class="col-sm-9">
                            <input type="password" class="form-control" name="txtPassword" autocomplete="off"
                                   placeholder="Password" ng-minlength="8" ng-maxlength="20"
                                   ng-model="new_password.password1" required ng-pattern="regex.pattern">
                            <br>
                        </div>
                        <div class="col-sm-1">
                            <img ng-if="(changePassword.txtRePassword.$dirty || changePassword.txtPassword.$dirty) && (changePassword.txtPassword.$invalid && !validPassword())"
                                 src="images/invalid.png" width="16" height="16"/>
                            <img ng-if="(changePassword.txtRePassword.$dirty || changePassword.txtPassword.$dirty) && (changePassword.txtPassword.$valid && validPassword())"
                                 src="images/valid.png" width="16" height="16"/>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-2 control-label">Re-Password :</label>
                        <div class="col-sm-9">
                            <input type="password" class="form-control" name="txtRePassword" autocomplete="off"
                                   placeholder="Re-Password" ng-minlength="8" ng-maxlength="20"
                                   ng-model="new_password.password2" required ng-pattern="regex.pattern">
                        </div>
                        <div class="col-sm-1">
                            <img ng-if="(changePassword.txtRePassword.$dirty || changePassword.txtPassword.$dirty) && (changePassword.txtRePassword.$invalid && !validPassword())"
                                 src="images/invalid.png" width="16" height="16"/>
                            <img ng-if="(changePassword.txtRePassword.$dirty || changePassword.txtPassword.$dirty) && (changePassword.txtRePassword.$valid && validPassword())"
                                 src="images/valid.png" width="16" height="16"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-danger" ng-click="cancel()">Cancel</button>
            <button ng-disabled="(changePassword.txtRePassword.$invalid|| changePassword.txtPassword.$invalid) || !validPassword()"
                    type="submit" class="btn btn-black" ng-click="submit()">Done</button>
        </div>
    </div>
</div>
