<div class="popeye-modal-container">
    <div class="popeye-modal modal-content">
        <div class="modal-header">
            <a class="popeye-close-modal" href ng-click="$close()"></a>
            <h4 class="modal-title">Select Billing Address</h4>
        </div>
        <div class="modal-dialog">
            <div class="modal-body">
                <form role="form">
                        <div ng-repeat="address in userBillingAddress">
                            <input type="radio" name="pageNumber" ng-model="$parent.pageNumber" ng-value="n" />
                            <b>{{address.afullname}}</b> {{address.aaddress1}} {{address.aaddress2}}, {{address.acity}}, {{address.astate}}
                            , {{address.azip}}, {{address.acountry}}
                            <a href="#/account-address" ng-click="$close()">Edit</a>
                        </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="$close()">Done</button>
        </div>
    </div>
</div>

