<div class="popeye-modal-container">
    <div class="popeye-modal modal-content">
        <div class="modal-header">
            <a class="popeye-close-modal" href ng-click="cancel()"></a>
            <h4 class="modal-title">Edit Order Information</h4>
        </div>
        <div class="modal-dialog">
            <div class="modal-body">
                <!-- Edit Order Information Starts -->
                <div class="row">
                    <label class="col-sm-3 control-label">Order Status :</label>
                    <div class="col-sm-9">
                        <form class="form-horizontal" role="form">
                            <div class="form-check">
                                <form action="">
                                    <select class="form-control" autocomplete="on" ng-model="selectedOrder"
                                            ng-options="o.order_statusid as o.order_status_name for o in status">
                                    </select>
                                </form>
                            </div>
                        </form>
                        <br>
                    </div>
                </div>
                <!-- Edit Order Information Ends -->
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" ng-click="cancel()">Cancel</button>
            <button type="button" class="btn btn-black" ng-click="submit()">Done</button>
        </div>
    </div>
</div>
